#nav {
	z-index: 1000;
	width: 100%;
	float: left;
	list-style: none;
	line-height: 1;
	font-weight: bold;
	padding: 0;
	margin-top: -1em;
}

#nav ul {
	width: 100%;
	background-color: #111;
	float: left;
	list-style: none;
	line-height: 1;
	font-weight: bold;
	padding: 0;
}

#nav a {
	display: block;
	width: 8em;
	color: #fff;
	text-decoration: none;
	padding: 0.25em 1em;
}

#nav a[onclick], #nav a[href] {
	cursor: pointer;
}

#nav li.dropdown {
	background-image: url('../img/template/order_desc.png');
	background-position: 0% 50%;
	background-repeat: no-repeat;
}

#nav li.dropright {
	background-attachment: fixed;
	background-image: url('../img/template/menu_open_right.png');
	background-position: 80% 50%;
	background-repeat: no-repeat;
	background-color: #ccc;
}

#nav a.dropright {
	background-attachment: fixed;
	background-image: url('../img/template/menu_open_right.png');
	background-position: 80% 50%;
	background-repeat: no-repeat;
	background-color: #ccc;
}

#nav li {
	float: left;
	background-color: #111;
	padding: 0;
	width: 10em;
	margin-left: .1em;
	margin-right: .1em;
}

#nav li ul {
	position: absolute;
	left: -999em;
	height: auto;
	width: 10em;
	font-weight: normal;
	margin: 0;
	background-color: transparent;
}

#nav li li {
	padding-right: 1em;
}

#nav li ul a:first-child {
	border-top: .1em solid #111;
}

#nav li ul a {
	width: 14em;
	border-left: .1em solid #111;
	border-right: .1em solid #111;
	border-bottom: .1em solid #111;
	color: #111;
	background-color: #eee;
}

#nav li ul ul {
	margin: -1.75em 0 0 14em;
}

#nav li:hover ul ul, #nav li:hover ul ul ul, #nav li.sfhover ul ul, #nav li.sfhover ul ul ul {
	left: -999em;
	background-color: transparent;
	color: #ffde05;
}

#nav li:hover ul, #nav li li:hover ul, #nav li li li:hover ul, #nav li.sfhover ul, #nav li li.sfhover ul, #nav li li li.sfhover ul {
	left: auto;
	background-color: transparent;
	color: #ffde05;
}

#nav li:hover, #nav li.sfhover {
	background-color: #111;
	color: #ffde05;
}

#nav a:hover {
	background-color: #111;
	color: #ffde05;
}
