/* This css file is only included in Framework 3 pages.
 *
 * All styling of new functionality (Framework 3 or 2) should have its
 * styling defined in style.css
 *
 * You should only add styling rules to this file if they are for a Framework 3 page 
 * (or popup that is only ever openned on a Framework 3 page), and adding the rules to
 * style.css has an adverse affect on existing Framework 2 functionality.
 * In these cases I would encourage you to fix the conflict with the Framework 2 functionality
 *
 * It is hoped that everything here will eventually be phased out, or moved into style.css
 */

a,
a:link,
a:visited {
	color: #00F;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

img[onclick],
a[onclick],
span[onclick]
{
	cursor : pointer;
	color: #00F;
	text-decoration: none;
}

.DefaultHiddenElement,
.DefaultElement,
.DefaultInvalidElement
{
	position:			relative;
	clear:				both;
}

.DefaultHiddenElement
{
	display: none;
}

div.reflex-content
{
	color				: #1C1C1C;
	width				: 99%;
	margin-left			: auto;
	margin-right		: auto;
	border				: .1em solid #333;
	border-spacing		: 0;
	-moz-border-radius	: 6px;
}

div.reflex-content div.header,
div.reflex-content div.footer
{
	background-color	: #1C1C1C;
	color				: #eee;
	text-align			: left;
	padding				: .25em .5em;
	font-weight			: bold;
}

div.reflex-content div.footer
{
	text-align			: right;
}

div.reflex-content div.header
{
	-moz-border-radius-topleft	: 3px;
	-moz-border-radius-topright	: 3px;
}

div.reflex-content div.body
{

}

table.reflex table.clickable tr.selected[onclick] td
{
	background-color	: #bbb;
}

table.reflex table.clickable table.hoverable tr.selected[onclick]:hover td
{
	background-color	: #ccc;
}

table.reflex table.hoverable tbody tr[onclick]:hover
{
	background-color	: #ddd;
}

/************************* START - Ticket Stuff - START ***********************/

table.reflex tr td.ticketing-status-in-progress,
table.reflex tr td.ticketing-status-completed,
table.reflex tr td.ticketing-priority-low,
table.reflex tr td.ticketing-priority-type-all,
table.reflex tr td.ticketing-priority-type-closed,
option.ticketing-status-completed, 
option.ticketing-status-in-progress, 
option.ticketing-status-type-closed, 
option.ticketing-priority-low {
	color: #060;
}

table.reflex tr td.ticketing-status-with-carrier, 
table.reflex tr td.ticketing-status-with-customer, 
table.reflex tr td.ticketing-status-with-internal, 
table.reflex tr td.ticketing-priority-medium,
option.ticketing-status-with-carrier, 
option.ticketing-status-with-customer, 
option.ticketing-status-with-internal, 
option.ticketing-status-type-open, 
option.ticketing-status-type-conglomerate-open-pending,
option.ticketing-priority-medium {
	color: #ff8822;
}

table.reflex tr td.ticketing-status-assigned, 
table.reflex tr td.ticketing-status-unassigned, 
table.reflex tr td.ticketing-status-deleted, 
table.reflex tr td.ticketing-priority-high,
option.ticketing-status-assigned, 
option.ticketing-status-unassigned, 
option.ticketing-status-deleted, 
option.ticketing-status-type-pending, 
option.ticketing-priority-high {
	color: #d30;
}

table.reflex tr td.ticketing-priority-urgent,
option.ticketing-priority-urgent {
	color: #d30;
	text-decoration: underline;
}

tr.ticket-history-details-row-displayed
{
	display: default;
}

tr.ticket-history-details-row-hidden
{
	display: none;
}

td.ticket-history-record-details
{
	border-top: dashed 1px #000;
	border-bottom: solid 1px #000;
}

/* Only show the solid border at the top of the ticket-history-summary-row-displaying-detail-row, if the details, of the record above this one, is hidden */
tr.ticket-history-details-row-hidden + tr.ticket-history-summary-row-displaying-detail-row td
{
	border-top: solid 1px #000;
}

.blocked-downloadable-attachment .active,
.downloadable-attachment .inactive
{
	display: none;
}

.blocked-downloadable-attachment .inactive
.downloadable-attachment .active
{
	display: default;
}

input[type='button'].expand-button-expanded
{
	background-image: url('../img/template/retract.png') !important;
	background-repeat: no-repeat !important;
	background-position: 50% 50% !important;
	background-color: inherit !important;
	border: none !important;
}

input[type='button'].expand-button-retracted
{
	background-image: url('../img/template/expand.png') !important;
	background-repeat: no-repeat !important;
	background-position: 50% 50% !important;
	background-color: inherit !important;
	border: none !important;
}

/* This is used by the timer present on the "All Tickets" page */
th#refreshPanel
{
	color		: #ffde05;
	margin-left	: 0.25em;
}

/*************************** END - Ticket Stuff - END *************************/

input, 
select, 
textarea {
	font-size: 1em;
	border: .1em solid #111;
	color: #111;
	margin: .1em;
	background-color: #fff;
}

h3 > input{
	font-size: 0.8em !important;
	border: .1em solid #111 !important;
	color: #111 !important;
	margin: .1em !important;
	background-color: #fff !important;
}

input.displayOnly[disabled] {
	font-size: 1em;
	border: none;
	color: #000 !important;
	margin: .2em;
	background-color: #eee;
	text-align: right;
}

input[type="checkbox"] {
	border: none;
	border-collapse: collapse;
	padding: 0;
	background-color: #eee;
}

textarea {
	font-family: Arial,Verdana,Helvetica;
}

div.DefaultOutput, 
div input.DefaultInputText, 
div select.DefaultInputText {
	position: relative;
	float: right;
	width: 50%;
}

div.DefaultLabel {
	margin: .1em .5em;
	font-weight: bold;
}

div.GroupedContent {
	clear: both;
	position: relative;
	margin: .25em;
	padding: .1em;
	border: .1em solid #D1D1D1;
}

table tr.Even {
	background-color: #eee;
}

table tr.Odd {
	background-color: #ccc;
}

table tr.Hover {
	background-color: #fff;
}

table tr.First {
	margin-top: .25em;
	background-color: #333;
	color: #eee;
}

table.Listing {
	margin: .25em;
	width: 99%;
	border .1em solid #333;
}

table.Listing tr.PrimarySelected th, 
table.Listing tr.PrimarySelected td {
	background-color:#11FF33;
	vertical-align:top;
}


