/* This css file is only included in Framework 3 pages.
 *
 * All styling of new functionality (Framework 3 or 2) should have its
 * styling defined in style.css
 *
 * You should only add styling rules to this file if they are for a Framework 3 page 
 * (or popup that is only ever openned on a Framework 3 page), and adding the rules to
 * style.css has an adverse affect on existing Framework 2 functionality.
 * In these cases I would encourage you to fix the conflict with the Framework 2 functionality
 *
 * It is hoped that everything here will eventually be phased out, or moved into style.css
 */


.flex-page-dashboard-container {
	overflow: visible !important;
}
.flex-page {}
.reflex .flex-datetime-date {}
.reflex .flex-datetime-time {
	font-size: 85%;
	display: block;
	min-width: 75px;
}

/**************************************************************************/
/* Component - Dashboard												  */
/**************************************************************************/
/* Dashboard */
.flex-page-dashboard {
	min-width: 1150px;
}
.flex-page-dashboard > header {
	margin-top: 0;
	margin-bottom: 20px;
	padding-bottom: 5px;
	border-bottom: solid 1px #369;
	display: block;
}

.flex-page-dashboard > header h1 {
	color: #369;
	font-size: 18pt;
	font-weight: bold;
	display: inline-block;
	margin: 0;
}
.flex-page-dashboard > header h2 {
	color: #369;
	font-size: 12pt;
	font-weight: bold;
	display: inline-block;
	margin: 7px 0 0 0;
	/*
	position: absolute;
	right: 0;
	*/
	float: right;
}
.flex-page-dashboard > section > header {
	height: 100%;
	color: white;
	background: -webkit-linear-gradient(bottom, #3688C2 1px, #489ECF 2px, #61BBDE 100%);
	background: -moz-linear-gradient(bottom, #3688C2 1px, #489ECF 2px, #61BBDE 100%);
	background: -ms-linear-gradient(bottom, #3688C2 1px, #489ECF 2px, #61BBDE 100%);
	background: -o-linear-gradient(bottom, #3688C2 1px, #489ECF 2px, #61BBDE 100%);
	background: linear-gradient(bottom, #3688C2 1px, #489ECF 2px, #61BBDE 100%);
	text-align: center;
	font-weight: bold;
	padding-top: .4em;
	padding-bottom: .4em;
	border-radius: 6px 6px 0 0;
}


/**************************************************************************/
/* Component - Dashboard Tickets										  */
/**************************************************************************/
.flex-page-dashboard .flex-page-dashboard-tickets {}
.flex-page-dashboard .flex-page-dashboard-tickets-mine {
	float: left;
	width: 350px;
	margin: 0 20px;
}
.flex-page-dashboard .flex-page-dashboard-tickets-mine > header {
	display: inline-block;
	width: 300px;
	margin: 0 0 0 0.5em;
}
.flex-page-dashboard .flex-page-dashboard-tickets-mine table {
	border: 1px solid #D1D1D1;
}
.flex-page-dashboard .flex-page-dashboard-tickets-mine thead {
	color: white;
	background-color: #499FCF;
	text-align: left;
}
.flex-page-dashboard .flex-page-dashboard-tickets-mine-id {
	width: 50px;
}
.flex-page-dashboard .flex-page-dashboard-tickets-mine-subject {
	/*
	white-space: nowrap;
	overflow: hidden;
	max-width: 190px;
	*/
	width: 100%;
}
.flex-page-dashboard .flex-page-dashboard-tickets-mine-last-modified {
	white-space: nowrap;
}
.flex-page-dashboard .flex-page-dashboard-tickets-mine-priority {
	width: 100px;
}
.flex-page-dashboard button.flex-page-dashboard-tickets-mine-view-all {
	float: right;
}

/**************************************************************************/
/* Component - Dashboard Customers										  */
/**************************************************************************/
.flex-page-dashboard .flex-page-dashboard-customers {}
.flex-page-dashboard .flex-page-dashboard-customers-recent {
	float: left;
	width: 350px;
}
.flex-page-dashboard .flex-page-dashboard-customers-recent > header {
	display: inline-block;
	width: 300px;
	margin: 0 0 0 0.5em;
}
.flex-page-dashboard .flex-page-dashboard-customers-recent table {
	border: 1px solid #D1D1D1;
}
.flex-page-dashboard .flex-page-dashboard-customers-recent thead {
	color: white;
	background-color: #499FCF;
	text-align: left;
}
.flex-page-dashboard .flex-page-dashboard-customers-recent-account {
	width: 100px;
}
.flex-page-dashboard .flex-page-dashboard-customers-recent-business-name {
	/*
	white-space: nowrap;
	overflow: hidden;
	max-width: 190px;
	*/
	width: 100%;
}
.flex-page-dashboard .flex-page-dashboard-customers-recent-viewed-on {
	width: 100px;
}
.flex-page-dashboard button.flex-page-dashboard-customers-recent-view-all {
	float: right;
}

/**************************************************************************/
/* Component - Dashboard Updates										  */
/**************************************************************************/

.flex-page-dashboard-updates > div {
    /*display: table;*/
    display: block;
    padding: 1em;
}
.flex-page-dashboard-updates > div * {
	vertical-align: top;
}
.flex-page-dashboard .flex-page-dashboard-updates-separator {
	display: inline-block;
	border-left: 1px solid #D1D1D1;
	height: 100%;
	width: 10px;
}
.flex-page-dashboard .flex-page-dashboard-updates::before {
	clear: both;
	content: ".";
	visibility: hidden;
	height: 0;
}
.flex-page-dashboard .flex-page-dashboard-updates {
	margin: 20px 0 0 0;
	clear: both;
	display: block;
	width: 1150px;
}
.flex-page-dashboard .flex-page-dashboard-updates > div {
	border: 1px solid #d1d1d1;
}
.flex-page-dashboard .flex-page-dashboard-updates section > header > h3 {
	color: #369;
	font-size: 12pt;
	font-weight: bold;
	margin: 0;
	padding: 0;
}
.flex-page-dashboard .flex-page-dashboard-updates section > header {
	margin: 1em 1em 0 1em;
	padding: 0;
}
.flex-page-dashboard .flex-page-dashboard-updates section > div {
	margin: 0.5em 1em 1em 1em;
	padding: 0;
}

/**************************************************************************/
/* Component - Dashboard Updates Technical								  */
/**************************************************************************/
.flex-page-dashboard .flex-page-dashboard-notices-technical {
	display: inline-block;
	width: 420px;
}

/**************************************************************************/
/* Component - Dashboard Updates General								  */
/**************************************************************************/
.flex-page-dashboard .flex-page-dashboard-notices-general {
	display: inline-block;
	width: 420px;
}

/**************************************************************************/
/* Component - Dashboard Updates Time & Date							  */
/**************************************************************************/
.flex-page-dashboard .flex-page-dashboard-time-and-date {
	display: inline-block;
}
.flex-page-dashboard .flex-page-dashboard-time-and-date-picker {
	top: auto !important;
	position: relative !important;
	display: inline-block !important;
	left: auto !important;
	margin: 0.5em 1em 1em 1em;
	padding: 0;
}
.flex-page-dashboard .flex-page-dashboard-time-and-date-picker .dateChooser {
	border-collapse: separate;
	border-spacing: 0.4em;
}
.flex-page-dashboard .flex-page-dashboard-time-and-date-picker > .bar {
	text-align: center;
}
.flex-page-dashboard .flex-page-dashboard-time-and-date-picker > .bar > img {
	display: none;
}
.flex-page-dashboard .flex-page-dashboard-time-and-date-picker > .bar {
}
.flex-page-dashboard .flex-page-dashboard-time-and-date-picker .date-time-active {
	background-color: rgb(30,95,167);
	color: #ffffff;
	border-radius: 0.4em;
	border: 1px solid rgba(0,0,0,0.1);
	padding: 0.4em;
	text-align: center;
}
.flex-page-dashboard .flex-page-dashboard-time-and-date-selected-value {
	display: none;
}
.flex-page-dashboard .flex-page-dashboard-time-and-date-picker-today {
	font-weight: bold;
	background-color: rgb(49,155,229) !important;
	color: #ffffff !important;
	text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.4);
}

/**************************************************************************/
/* Component - Dashboard Statistics										  */
/**************************************************************************/
.flex-page-dashboard .flex-page-dashboard-tickets-statistics {
	display: inline-block;
	width: 410px;
}
.flex-page-dashboard .flex-page-dashboard-tickets-statistics > header {
    display: inline-block;
    width: 300px;
    margin: 0 0 0 0.5em;
}
.flex-page-dashboard .flex-page-dashboard-tickets-statistics > h2 {
    display: inline-block;
    width: 100%;
    background-color: #499FCF;
    color: #ffffff;
    padding: 0.25em;
    margin: 0;
    font-size: inherit;
    border: 1px solid #D1D1D1;
}
.flex-page-dashboard .flex-page-dashboard-tickets-statistics > svg {
	width: 410px;
	height: 237px;
	margin: 0;
}
.flex-page-dashboard .flex-page-dashboard-tickets-statistics .flex-page-dashboard-tickets-statistics-graph {
	/*fill: rgba(0,0,0,0.1);*/
	fill: transparent;
}
.flex-page-dashboard .flex-page-dashboard-tickets-statistics .flex-page-dashboard-tickets-statistics-grid {
	/*fill: rgba(0,0,0,0.1);*/
	fill: transparent;
}
.flex-page-dashboard .flex-page-dashboard-tickets-statistics .flex-page-dashboard-tickets-statistics-grid-line-x {
	/*stroke: rgba(0,0,0,0.4);*/
	fill: transparent;
	stroke-width: 0.5;
}
.flex-page-dashboard .flex-page-dashboard-tickets-statistics .flex-page-dashboard-tickets-statistics-grid-line-y {
	stroke: rgba(0,0,0,0.1);
	fill: transparent;
	stroke-width: 0.5;
}
.flex-page-dashboard .flex-page-dashboard-tickets-statistics .flex-page-dashboard-tickets-statistics-label {
	font-size: 6px;
}
.flex-page-dashboard .flex-page-dashboard-tickets-statistics .flex-page-dashboard-tickets-statistics-graph-x-axes {
	stroke: rgba(0,0,0,0.2);
	stroke-width: 1;	
}
.flex-page-dashboard .flex-page-dashboard-tickets-statistics .flex-page-dashboard-tickets-statistics-graph-y-axes {
	stroke: rgba(0,0,0,0.2);
	stroke-width: 1;	
}

/**************************************************************************/
/* Component - Dashboard Statistics - Polylines							  */
/**************************************************************************/
.flex-page-dashboard .flex-page-dashboard-tickets-statistics-ticket-status-assigned {
	stroke: #01243B;
	fill: transparent;
	stroke-width: 1;
}
.flex-page-dashboard .flex-page-dashboard-tickets-statistics-ticket-status-completed {
	stroke: blue;
	fill: transparent;
	stroke-width: 1;
}
.flex-page-dashboard .flex-page-dashboard-tickets-statistics-ticket-status-inprogress {
	stroke: green;
	fill: transparent;
	stroke-width: 1;
}
.flex-page-dashboard .flex-page-dashboard-tickets-statistics-ticket-status-unassigned {
	stroke: red;
	fill: transparent;
	stroke-width: 1;
}
.flex-page-dashboard .flex-page-dashboard-tickets-statistics-ticket-status-withcarrier {
	stroke: teal;
	fill: transparent;
	stroke-width: 1;
}
.flex-page-dashboard .flex-page-dashboard-tickets-statistics-ticket-status-withcustomer {
	stroke: orange;
	fill: transparent;
	stroke-width: 1;
}
.flex-page-dashboard .flex-page-dashboard-tickets-statistics-ticket-status-withinternal {
	stroke: magenta;
	fill: transparent;
	stroke-width: 1;
}
.flex-page-dashboard .flex-page-dashboard-tickets-statistics-ticket-status-deleted {
	stroke: grey;
	fill: transparent;
	stroke-width: 1;
}
.flex-page-dashboard polygon.flex-page-dashboard-tickets-statistics-tickets-closed {
	/*stroke: rgb(104,134,236);*/
	fill: rgba(195, 211, 255, 0.8);
	stroke: rgba(195, 211, 255, 0.8);
	stroke-width: 1;
}
.flex-page-dashboard polyline.flex-page-dashboard-tickets-statistics-tickets-closed {
	fill: transparent;
	stroke: rgb(104,134,236);
	stroke-width: 1;
}

/**************************************************************************/
/* Component - Dashboard Statistics - Legend							  */
/**************************************************************************/
.flex-page-dashboard .flex-page-dashboard-tickets-statistics-legend-tickets-closed > rect {
	stroke: rgb(104,134,236);
	fill: rgba(195, 211, 255, 0.8);
	stroke-width: 1;
}
.flex-page-dashboard .flex-page-dashboard-tickets-statistics-legend-ticket-status-unassigned > line {
	stroke: red;
	stroke-width: 1;
}
.flex-page-dashboard .flex-page-dashboard-tickets-statistics-legend-ticket-status-withcustomer > line {
	stroke: orange;
	stroke-width: 1;
}
.flex-page-dashboard .flex-page-dashboard-tickets-statistics-legend-ticket-status-withcarrier > line {
	stroke: teal;
	stroke-width: 1;
}
.flex-page-dashboard .flex-page-dashboard-tickets-statistics-legend-ticket-status-inprogress > line {
	stroke: green;
	stroke-width: 1;
}
.flex-page-dashboard .flex-page-dashboard-tickets-statistics-legend-ticket-status-completed > line {
	stroke: blue;
	stroke-width: 1;
}
.flex-page-dashboard .flex-page-dashboard-tickets-statistics-legend-ticket-status-assigned > line {
	stroke: #01243B;
	stroke-width: 1;
}
.flex-page-dashboard .flex-page-dashboard-tickets-statistics-legend-ticket-status-withinternal > line {
	stroke: magenta;
	stroke-width: 1;
}
.flex-page-dashboard .flex-page-dashboard-tickets-statistics-legend-ticket-status-deleted > line {
	stroke: grey;
	stroke-width: 1;
}

.flex-page-dashboard .flex-page-dashboard-tickets-statistics-legend-tickets-closed > text {
	font-size: 5px;
	fill: black;
	stroke: none;
}
.flex-page-dashboard .flex-page-dashboard-tickets-statistics-legend-ticket-status-assigned > text {
	font-size: 5px;
	fill: #01243B;
	stroke: none;
}
.flex-page-dashboard .flex-page-dashboard-tickets-statistics-legend-ticket-status-completed > text {
	font-size: 5px;
	fill: blue;
	stroke: none;
}
.flex-page-dashboard .flex-page-dashboard-tickets-statistics-legend-ticket-status-inprogress > text {
	font-size: 5px;
	fill: green;
	stroke: none;
}
.flex-page-dashboard .flex-page-dashboard-tickets-statistics-legend-ticket-status-unassigned > text {
	font-size: 5px;
	fill: red;
	stroke: none;
}
.flex-page-dashboard .flex-page-dashboard-tickets-statistics-legend-ticket-status-withcarrier > text {
	font-size: 5px;
	fill: teal;
	stroke: none;
}
.flex-page-dashboard .flex-page-dashboard-tickets-statistics-legend-ticket-status-withcustomer > text {
	font-size: 5px;
	fill: orange;
	stroke: none;
}
.flex-page-dashboard .flex-page-dashboard-tickets-statistics-legend-ticket-status-withinternal > text {
	font-size: 5px;
	fill: magenta;
	stroke: none;
}
.flex-page-dashboard .flex-page-dashboard-tickets-statistics-legend-ticket-status-deleted > text {
	font-size: 5px;
	fill: grey;
	stroke: none;
}


a,
a:link,
a:visited {
	color: #003399;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

img[onclick],
a[onclick],
span[onclick]
{
	cursor : pointer;
	color: #003399;
	text-decoration: none;
}
/*
.DefaultHiddenElement,
.DefaultElement,
.DefaultInvalidElement
{
	position:			relative;
	clear:				both;
}

.DefaultHiddenElement
{
	display: none;
}
*/
div.reflex-content
{
	color				: #1C1C1C;
	width				: 99%;
	margin-left			: auto;
	margin-right		: auto;
	border				: .1em solid #333;
	border-spacing		: 0;
	border-radius	: 6px;
}

div.reflex-content div.header,
div.reflex-content div.footer
{
	background-color	: #499FCF;
	color				: #eee;
	text-align			: left;
	padding				: .25em .5em;
	font-weight			: bold;
}

div.reflex-content div.footer
{
	text-align			: right;
}

div.reflex-content div.header
{
	border-top-left-radius	: 3px;
	border-top-right-radius	: 3px;
}

div.reflex-content div.body
{

}

table.reflex table.clickable tr.selected[onclick] td
{
	background-color	: #bbb;
}

table.reflex table.clickable table.hoverable tr.selected[onclick]:hover td
{
	background-color	: #ccc;
}

table.reflex table.hoverable tbody tr[onclick]:hover
{
	background-color	: #ddd;
}

/************************* START - Ticket Stuff - START ***********************/

table.reflex tr td.ticketing-status-in-progress,
table.reflex tr td.ticketing-status-completed,
table.reflex tr td.ticketing-priority-low,
table.reflex tr td.ticketing-priority-type-all,
table.reflex tr td.ticketing-priority-type-closed,
option.ticketing-status-completed, 
option.ticketing-status-in-progress, 
option.ticketing-status-type-closed, 
option.ticketing-priority-low {
	color: #060;
}

table.reflex tr td.ticketing-status-with-carrier, 
table.reflex tr td.ticketing-status-with-customer, 
table.reflex tr td.ticketing-status-with-internal, 
table.reflex tr td.ticketing-priority-medium,
option.ticketing-status-with-carrier, 
option.ticketing-status-with-customer, 
option.ticketing-status-with-internal, 
option.ticketing-status-type-open, 
option.ticketing-status-type-conglomerate-open-pending,
option.ticketing-priority-medium {
	color: #ff8822;
}

table.reflex tr td.ticketing-status-assigned, 
table.reflex tr td.ticketing-status-unassigned, 
table.reflex tr td.ticketing-status-deleted, 
table.reflex tr td.ticketing-priority-high,
option.ticketing-status-assigned, 
option.ticketing-status-unassigned, 
option.ticketing-status-deleted, 
option.ticketing-status-type-pending, 
option.ticketing-priority-high {
	color: #d30;
}

table.reflex tr td.ticketing-priority-urgent,
option.ticketing-priority-urgent {
	color: #d30;
	text-decoration: underline;
}

tr.ticket-history-details-row-displayed
{
	display: default;
}

tr.ticket-history-details-row-hidden
{
	display: none;
}

td.ticket-history-record-details
{
	border-top: dashed 1px #000;
	border-bottom: solid 1px #000;
}

/* Only show the solid border at the top of the ticket-history-summary-row-displaying-detail-row, if the details, of the record above this one, is hidden */
tr.ticket-history-details-row-hidden + tr.ticket-history-summary-row-displaying-detail-row td
{
	border-top: solid 1px #000;
}

.blocked-downloadable-attachment .active,
.downloadable-attachment .inactive
{
	display: none;
}

.blocked-downloadable-attachment .inactive
.downloadable-attachment .active
{
	display: default;
}

input[type='button'].expand-button-expanded
{
	background-image: url('../img/template/retract.png') !important;
	background-repeat: no-repeat !important;
	background-position: 50% 50% !important;
	background-color: inherit !important;
	border: none !important;
}

input[type='button'].expand-button-retracted
{
	background-image: url('../img/template/expand.png') !important;
	background-repeat: no-repeat !important;
	background-position: 50% 50% !important;
	background-color: inherit !important;
	border: none !important;
}

/* This is used by the timer present on the "All Tickets" page */
th#refreshPanel
{
	color		: #ffffff;
	margin-left	: 0.25em;
}

/*************************** END - Ticket Stuff - END *************************/

input, 
select, 
textarea {
	font-size: 1em;
	border: .1em solid #333;
	color: #111;
	margin: .1em;
	background-color: #fff;
}

h3 > input{
	font-size: 0.8em !important;
	border: .1em solid #111 !important;
	color: #111 !important;
	margin: .1em !important;
	background-color: #fff !important;
}

input.displayOnly[disabled] {
	font-size: 1em;
	border: none;
	color: #000 !important;
	margin: .2em;
	background-color: #eee;
	text-align: right;
}

input[type="checkbox"] {
	border: none;
	border-collapse: collapse;
	padding: 0;
	background-color: #eee;
}

textarea {
	font-family: Arial,Verdana,Helvetica;
}
/*
div.DefaultOutput, 
div input.DefaultInputText, 
div select.DefaultInputText {
	position: relative;
	float: right;
	width: 50%;
}

div.DefaultLabel {
	margin: .1em .5em;
	font-weight: bold;
}
*/
div.GroupedContent {
	clear: both;
	position: relative;
	margin: .25em;
	padding: .1em;
	border: .1em solid #D1D1D1;
}

div.account-create-errors
{
	clear				: both;
	position			: relative;
	margin				: .25em;
	padding				: .1em;
	border				: .1em solid #D1D1D1;
	padding				: 5px;
	background-color	: #ECEEF2;
}

table tr.Even {
	background-color: #eee;
}

table tr.Odd {
	background-color: #ccc;
}

table tr.Hover {
	background-color: #fff;
}

table tr.First {
	margin-top: .25em;
	background: -webkit-linear-gradient(bottom, #3688c2 1px, #489ecf 2px, #61bbde 100%);
	background: -moz-linear-gradient(bottom, #3688c2 1px, #489ecf 2px, #61bbde 100%);
	background: -ms-linear-gradient(bottom, #3688c2 1px, #489ecf 2px, #61bbde 100%);
	background: -o-linear-gradient(bottom, #3688c2 1px, #489ecf 2px, #61bbde 100%);
	background: linear-gradient(bottom, #3688c2 1px, #489ecf 2px, #61bbde 100%);
	/*background-color: #333;*/
	color: #eee;
}

table.Listing {
	margin: .25em;
	width: 99%;
	border:              solid 1px #D1D1D1;
}

table.Listing tr.PrimarySelected th, 
table.Listing tr.PrimarySelected td {
	background-color:#FFFFCC;
	vertical-align:top;
}