body {
	background-color: #fff;
	font-family: Arial,Verdana,Helvetica;
	margin: 0em;
	font-size: .8em;
	padding: 0em;
}

h1#page-title{
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	color: #000;
	margin-top: -0.6em;
}

div#header {
	width: 100%;
	background-color: #111;
	color: #eee;
	background-image: url("../img/template/background.png");
	background-repeat: repeat-x;
	position: fixed;
	z-index: 10;
}

div#person_search {
	float: top;
	width: 99%;
	height: 4em;
}

div#person {
	width: 100%;
	text-align: right;
	height: 2em;
}

div#person a,
div#person a:link,
div#person a:visited {
	color: #ffde05;
	text-decoration: none;
	font-weight: normal;
}

div#person a:hover {
	color: #ffde05;
	text-decoration: underline;
	cursor: pointer;
}

div#person a:active {
	color: #ffde05;
	text-decoration: underline;
}

div#logo {
	float: left;
	width: 50%;
	height: 4em;
	display: block;
	background-image: url("../img/template/yellow_billing_logo_small.png");
	background-repeat: no-repeat;
}

div#logo div#blurb {
	margin-left: 7em;
	padding-top: .8em;
	height: 4em;
	font-weight: bold;
	font-size: 1.2em;
	vertical-align: text-bottom;
}

div#search_bar {
	width: 100%;
	text-align: right;
	height: 2em;
}

div#menu {
	width: 100%;
}

div#content {
	width:          90%;
	clear:          both;
	margin-left:    auto;
	margin-right:   auto;
	top:            10em;
	overflow:       auto;
	position:       relative;
}

div.debug-options {
	padding-top: 1.2em;
	position: absolute;
	right: 1%;
	top: 40;
}

pre {
	font-family: Arial,Verdana,Helvetica;
	font-size: 1em;
}




/*********************** Start of reflex stuff *********************************/




table.reflex {
	width: 99%; /* This was previously set to 90%*/
	margin-left: auto;
	margin-right: auto;
	border: .1em solid #333;
	border-spacing: 0;
}

table.reflex caption div#caption_bar {
	width: 100%;
	clear: both;
}

table.reflex caption div#caption_title{
	float: left;
	width: 25%;
	height: 100%;
	color: #eee;
	background-color: #333;
	text-align: center;
	font-weight: bold;
	padding-top: .4em;
	padding-bottom: .4em;
}

table.reflex caption div#caption_options{
	float: right;
	width: 70%;
	text-align: right;
	font-weight: bold;
	padding: .1em .5em;
}

table.reflex thead,
table.reflex tfoot {
	background-color: #333;
	color: #eee;
	text-align: left;
}

table.reflex tfoot {
	text-align: right;
}

table.reflex thead tr th,
table.reflex tfoot tr th {
	padding-top: .25em;
	padding-bottom: .25em;
}

table.reflex th.reflex-unsorted, 
table.reflex th.reflex-sorted-ascending, 
table.reflex th.reflex-sorted-descending
{
	cursor: pointer;
	background-position: 0% 50%; 
	background-repeat: no-repeat; 
	background-image: url(../img/template/order_neither.png);
	padding-left: 0.8em;
}

table.reflex th.reflex-sorted-ascending
{
	background-color: #666;
	background-image: url(../img/template/order_asc.png);
}

table.reflex th.reflex-sorted-descending
{
	background-color: #666;
	background-image: url(../img/template/order_desc.png);
}

table.reflex tfoot a,
table.reflex tfoot a:visited,
table.reflex tfoot a:link {
	color: #ffde05 !important;
}


table.reflex td,
table.reflex th {
	padding: .25em .5em;
}

table.reflex tr td {
	background-color: #ddd;
	color: #333
}

table.reflex tr.alt td {
	background-color: #fff;
}

table.reflex td.title {
	width: 20%;
	vertical-align: top;
	font-weight: bold;
}

table.highlight-rows tbody tr:hover td
{
	background-color: #ffc;
}


input.required, 
select.required, 
textarea.required{
	background: #fff;
	color: #111;
	border: .1em solid #da8;
}

input.invalid, 
select.invalid, 
textarea.invalid {
	background: #ffecf0;
	color: #111;
	border: .1em solid #d30;
}

input.valid, 
select.valid, 
textarea.valid {
	background: #ecfff0;
	color: #111;
	border: .1em solid #3d0;
}

div.reflex-popup-footer input.reflex-button {
	margin-left: 0.5em;
}

/*********************** Start Of Popup stuff *********************************/

div.reflex-popup-overlay {
	position			: fixed;
	top					: 0em;
	left				: 0em;
	width				: 100%;
	height				: 100%;
	
	z-index: 45;
}

div.reflex-popup-opaque {
	position			: absolute;
	top					: 0;
	left				: 0;
	width				: 100%;
	height				: 100%;
	background-color	: #000000;
	filter				: alpha(opacity=25);
	-moz-opacity		: .25;
	opacity				: .25;
}

div.reflex-popup {
	margin				: auto;
	border				: 0.1em solid #000000;
	background-color	: #efefef;
	z-index				: 50;
	position			: absolute;
}

div.reflex-popup table.reflex {
	width: 98%;
	margin-left: 1%;
	margin-right: 1%;
	margin-top: 0.5em;
	margin-bottom: 0.5em;
	border: .1em solid #333;
	border-spacing: 0;
}

div.reflex-popup-title-bar {
	height				: auto;
	background-color	: #000000;
	padding				: 3px;
}

div.reflex-popup-title {
	color : #EEEEEE;
	float : left;
	width : 79%;
	
}

div.reflex-popup-title-bar-buttons {
	float : right;
	width : 20%;
}

div.reflex-popup-content {
}

div.reflex-popup-footer {
	position	: relative;
	text-align	: right;
	bottom		: 0;
	right		: 0;
	padding-right: 1%;
	padding-left: 1%;
	padding-top: 0;
	padding-bottom: 0.5em;
}

input.displayOnly[disabled] {
	font-size: 1em;
	border: none;
	color: #000 !important;
	margin: .2em;
	background-color: #eee;
	text-align: right;
}

div.reflex-loading-image {
	background-repeat: no-repeat;
	background-image: url("../img/template/loading.gif");
	background-position: 50% 50%;
	margin: auto;
	display: block;
	position: default;
	text-align: center;
}

div.reflex-loading-image p {
	text-align: center;
}

div.reflex-popup-content h1 {
	font-size: 1.5em;
	color: #000;
	text-align: center;
	padding: 0.2em;
}

div.reflex-popup-text-content {
	padding: 0.8em;
}

input.validation-error-tootltip-button {
	visibility: hidden;
	width: 18px;
	height: 18px;
	border: none;
	cursor: pointer;
	margin-left: 0.2em;
	background-color: inherit;
	background-repeat: no-repeat;
	background-image: url("../img/template/tooltip_error.gif");
	background-position: 50% 50%;
}

td[contains-invalid-input=true] input.validation-error-tootltip-button {
	visibility: visible;
}

div.validation-error-tootltip {
	position: absolute;
	top: 0;
	left: 0;
	color: black;
	background: white;
	border: 0.1em solid black;
	z-index: 10000;
	padding: 0.4em;
	max-width: 20em;
}

div.cvv-image-tooltip {
	position: absolute;
	z-index: 10000;
}

div.cvv-image-tooltip img {
	clear: both;
	margin: 0.2em;
	float: left;
}

.tooltip-source-element {
	color: #00f;
	text-decoration: underline;
	cursor: pointer;
}

/*********************** End Of Popup stuff ***********************************/

/*********************** End of reflex stuff *********************************/

input#online-credit-card-payment-button
{
	
}

.amount-credit { color: green !important; }
.amount-debit { color: blue !important; }
th.amount, td.amount { text-align: right; }
td.attention { color: red !important; }



/*********************** Sp table stuff **********************/
table.sp th.sp-unsorted,
table.sp th.sp-sorted-ascending,
table.sp th.sp-sorted-descending
{
	cursor: pointer;
	background-position: 0% 50%; 
	background-repeat: no-repeat; 
	background-image: url(../img/order_neither.png);
	padding-left: 0.8em;
}

table.sp {
	width: 100%;
	margin-left: auto;
	margin-right: auto;
	border: .1em solid #333;
	border-spacing: 0;
}

table.sp caption div#caption_bar {
	width: 100%;
	clear: both;
}

table.sp caption div#caption_title{
	float: left;
	height: 100%;
	color: #eee;
	background-color: #333;
	text-align: center;
	font-weight: bold;
	padding: 0.4em 1em;
}

table.sp caption div#caption_options{
	float: right;
	text-align: right;
	font-weight: bold;
	padding: .1em .5em;
}

table.sp thead,
table.sp tfoot {
	background-color: #333;
	color: #eee;
	text-align: left;
}

table.sp tfoot {
	text-align: right;
}

table.sp thead tr th,
table.sp tfoot tr th {
	padding-top: .25em;
	padding-bottom: .25em;
}

table.sp th.sp-sorted-ascending
{
	background-color: #666;
	background-image: url(../img/order_asc.png);
}

table.sp th.sp-sorted-descending
{
	background-color: #666;
	background-image: url(../img/order_desc.png);
}

table.sp tfoot a,
table.sp tfoot a:visited,
table.sp tfoot a:link {
	color: #ffde05 !important;
}


table.sp td,
table.sp th {
	padding: .05em .1em;
	text-align: left;
}

table.sp tr td {
	background-color: #ddd;
	color: #333
}

table.sp tr.alt td {
	background-color: #fff;
}

table.sp td.title {
	width: 20%;
	vertical-align: top;
	font-weight: bold;
}

table.highlight-rows tbody tr:hover td
{
	background-color: #ffc;
}

.MediumSpace
{
	height: 20px;
}
.LargeSpace
{
	height: 30px;
}
div.Title{
	color:					#eeeeee;
	background-color:		#333333;
	height:					20px;
	width:					965px; 
	text-indent:			10px;
	font-weight:			bold;
	padding:				0px;
	margin:					0px;
	text-align:				left;
	padding-top:			5px;
}

div.PartTitle{
	color:					#eeeeee;
	background-color:		#333333;
	height:					20px;
	width:					470px; 
	text-indent:			10px;
	font-weight:			bold;
	padding:				0px;
	margin:					0px;
	padding-right:			0px;
	margin-right:			0px;
	padding-top:			5px;
	padding-bottom:			0px;
	text-align:				left;
}
#account_details_holder
{
	border:					1px solid #333333;
	width:					468px;
}
#account_details_table
{
	border:					1px solid #eeeeee;
	width:					100%;
}
#primary_contact_details_holder
{
	border:					1px solid #333333;
	width:					468px;
}
#primary_contact_details_table
{
	border:					1px solid #eeeeee;
	width:					100%;
}
.Page
{
	width:					963px;
	border:					1px solid #333333;
}
.data-table td
{
	text-indent:			10px;
	padding-top:			2px;
	padding-bottom:			2px;
}
#sale-items-table td
{
	text-indent:			10px;
}
#sale_panel tr
{
	vertical-align:			top;
}
#after-commit-button-panel
{
	text-align:				right;
}
.maximum-area-body
{
	padding-bottom:			15px;
}