/* This css file is included in both Framework 2 and 3 pages.
 *
 * All styling of new functionality (Framework 3 or 2) should have its
 * styling defined in this file
 *
 * Any styling required for popups or the specific content of a popup, should
 * go here because most popups can be used on top of framework 2 or 3 pages.
 *
 * Framework 3 page styling that adversly affects Framework 2 styling, should be defined in reflex.css as that file is only included in Framework 3 pages
 * Framework 2 page styling that adversly affects Framework 3 styling, should be defined in default.css as that file is only included in Framework 2 pages
 */

body {
	background-color: #fff;
	font-family: Arial,Verdana,Helvetica;
	margin: 0em;
	font-size: .8em;
	padding: 0em;
}

div.clearing
{
	clear	: both;
}

a
{
	cursor : pointer;
}


/************************ START - Page Header - START *************************/
div#header {
	width: 100%;
	background-color: #111;
	color: #eee;
	background-image: url("../img/template/background.png");
	background-repeat: repeat-x;
	position: fixed;
	z-index: 10;
}

div#person_search {
	float: top;
	width: 99%;
	height: 4em;
}

div#person {
	width: 100%;
	text-align: right;
	height: 2em;
}

div#person a,
div#person a:link,
div#person a:visited {
	color: #ffde05;
	text-decoration: none;
	font-weight: normal;
}

div#person a:hover {
	color: #ffde05;
	text-decoration: underline;
	cursor: pointer;
}

div#person a:active {
	color: #ffde05;
	text-decoration: underline;
}

div#logo {
	float: left;
	width: 50%;
	height: 4em;
	display: block;
	background-image: url("../img/template/yellow_billing_logo_small.png");
	background-repeat: no-repeat;
	
	cursor: pointer;
}

div#logo div#blurb {
	margin-left: 7em;
	padding-top: .8em;
	height: 4em;
	font-weight: bold;
	font-size: 1.2em;
	vertical-align: text-bottom;
}

div#search_bar {
	width: 100%;
	text-align: right;
	height: 2em;
}

div.bread-crumb-menu {
	clear				: both;
	padding				: .2em 0em .2em 1.5em;
	width				: 100%;
	background-color	: #fff;
	color				: #000;
}

div#menu {
	width: 100%;
}

div#content {
	width:          90%;
	clear:          both;
	margin-left:    auto;
	margin-right:   auto;
	top:            10em;
	overflow:       auto;
	position:       relative;
}

div.debug-options {
	padding-top: 1.2em;
	position: absolute;
	right: 1%;
	top: 40;
}
/************************** END - Page Header - END ***************************/


/************************ START - Reflex Table - START ************************/
table.reflex {
	width: 99%;
	margin-left: auto;
	margin-right: auto;
	border: .1em solid #1C1C1C;
	border-spacing: 0;
	font-size	: inherit;
}

table.reflex > tbody > tr > td:first-child {
/*    border-left: 1px solid #1C1C1C;  I don't know why this is used, instead of using a table border? */
}

table.reflex > tbody > tr > td:last-child {
/*    border-right: 1px solid #1C1C1C; I don't know why this is used, instead of using a table border? */
}


table.reflex caption div.caption_bar {
	width: 100%;
	clear: both;
}

table.reflex caption div.caption_title{
	float: left;
	width: 25%;
	height: 100%;
	color: #eee;
	background-color: #1C1C1C;
    background-image: url('../img/template/background.png');
    background-repeat: repeat-x;
	text-align: center;
	font-weight: bold;
	padding-top: .4em;
	padding-bottom: .4em;
    margin-left: 8px;
    -moz-border-radius: 6px 6px 0 0;
	-webkit-border-radius: 6px 6px 0 0;
}

table.reflex caption div.caption_options{
	float: right;
	width: 70%;
	text-align: right;
	font-weight: bold;
	padding: .1em .5em;
}

table.reflex thead,
table.reflex tfoot {
	/* was background-color: #202020;*/
	background-color: #1C1C1C;
	color: #eee;
	text-align: left;
}

table.reflex tfoot {
	text-align: right;
}

table.reflex thead tr th,
table.reflex tfoot tr th {
	padding-top: .25em;
	padding-bottom: .25em;
    background-repeat: repeat-x;
}

/*  Filletted edges
table.reflex thead tr th:first-child {
    -moz-border-radius-topleft: 6px;
    -webkit-border-radius: 6px 0 0 0;
    border-left: 1px;
    border-top: 1px;
}

table.reflex thead tr th:last-child {
	-moz-border-radius-topright: 6px;
    -webkit-border-radius: 0 6px 0px 0px;
    border-right: 1px;
    border-top: 1px;
}

table.reflex tfoot tr th:first-child {
	-moz-border-radius-bottomleft: 6px;
    -webkit-border-radius: 0 0 0 6px;
    border-left: 1px;
    border-top: 1px;
}

table.reflex tfoot tr th:last-child {
	-moz-border-radius-bottomright: 6px;
	-webkit-border-radius: 0 0 0 6px;
    border-right: 1px;
    border-top: 1px;
}
*/

table.reflex tbody
{
	vertical-align	: top;
	font-size		: inherit;
}

table.reflex tbody tr th.label
{
	min-height		: 1.5em;
	max-height		: 1.5em;
	
	font-size		: inherit;
	
	vertical-align	: middle;
	text-align		: right;
	overflow		: hidden;
}

table.reflex tbody tr td.input
{
	min-height		: 1.5em;
	max-height		: 1.5em;
	
	vertical-align	: middle;
	text-align		: left;
}

table.reflex tbody tr td.input input[type="text"],
table.reflex tbody tr td.input input[type="password"],
table.reflex tbody tr td.input textarea,
table.reflex tbody tr td.input select
{
	width			: 98%;
}

table.reflex tbody tr td.input input[type="checkbox"]
{
	margin-right	: 0.25em;
	vertical-align	: text-bottom;
}

table.reflex th.reflex-unsorted, 
table.reflex th.reflex-sorted-ascending, 
table.reflex th.reflex-sorted-descending
{
	cursor: pointer;
	background-position: 0% 50%; 
	background-repeat: no-repeat; 
	background-image: url(../img/template/order_neither.png);
	padding-left: 0.8em;
}

table.reflex th.reflex-sorted-ascending
{
	background-color: #666;
	background-image: url(../img/template/order_asc.png);
}

table.reflex th.reflex-sorted-descending
{
	background-color: #666;
	background-image: url(../img/template/order_desc.png);
}

table.reflex tfoot a,
table.reflex tfoot a:visited,
table.reflex tfoot a:link {
	color: #ffde05 !important;
}


table.reflex td,
table.reflex th {
	padding		: .25em .5em;
	font-size	: inherit;
}

table.reflex tr td {
	background-color: #ddd;
	color: #333
}

table.reflex tr.alt td {
	background-color: #fff;
}

table.reflex td.title {
	width: 20%;
	vertical-align: top;
	font-weight: bold;
}

table.highlight-rows tbody tr:hover td
{
	background-color: #ffc;
}

table tbody tr.selectable[selected="selected"] td
{
	background-color: #00ff88;
}

tr.highlight-row:hover td
{
	background-color: #fcc;
}
/************************** END - Reflex Table - END **************************/

/******************* START - Reflex Input Controls - START ********************/
input[type='text'],
select,
textarea
{
	border : .1em solid #111;
}

input[type='text'][disabled],
select[disabled],
textarea[disabled]
{
	background-color: #EFEBE7;
}

input.required, 
select.required, 
textarea.required{
	background: #fff;
	color: #111;
	border: .1em solid #da8;
}

input.invalid, 
select.invalid, 
textarea.invalid {
	background: #ffecf0;
	color: #111;
	border: .1em solid #d30;
}

input.valid, 
select.valid, 
textarea.valid {
	background: #ecfff0;
	color: #111;
	/* border: .1em solid #3d0; */
	border-color:   #33DD00;
}
/********************* END - Reflex Input Controls - END **********************/

/************************** START - Buttons - START ***************************/
input[type='button'], input.normal-button[type='submit'], a.button, button
{
	background-image:	url('../img/template/transparent-bg.png') !important;
	background-repeat:	repeat-x !important;
	background-color:	#ddd !important;
	color:				#000 !important;
	font-family: 		Arial, sans-serif !important;
	font-size:			1em !important;
	font-weight:		bold !important;
	margin:				.2em !important;
	padding:			.1em .25em !important;
	border-top:			solid .1em #999 !important;
	border-left:		solid .1em #999 !important;
	border-bottom:		solid .1em #666 !important;
	border-right:		solid .1em #666 !important;
	-moz-border-radius:	4px !important;
	-webkit-border-radius:	4px !important;
	cursor: 			pointer !important;
	-moz-user-select:	none;
	-webkit-user-select	: none;
}

button[disabled]
{
	background-image	: none !important;
	color				: #eee !important;
	background-color	: #ccc !important;
	-moz-user-select	: none !important;
	-webkit-user-select	: none !important;
}

button img.icon
{
	vertical-align	: text-bottom;
	margin-right	: 0.25em;
}
/**************************** END - Buttons - END *****************************/

/********************** START - Reflex Popup - START **************************/
div.reflex-popup-overlay {
	position			: fixed;
	top					: 0em;
	left				: 0em;
	width				: 100%;
	height				: 100%;
	
	z-index: 45;
}

div.reflex-popup-opaque {
	position			: absolute;
	top					: 0;
	left				: 0;
	width				: 100%;
	height				: 100%;
	background-color	: #000000;
	filter				: alpha(opacity=25);
	-moz-opacity		: .25;
	opacity				: .25;
	z-index				: 50;
}

div.reflex-popup {
	margin				: auto;
	border				: 0.1em solid #000000;
	background-color	: #efefef;
	z-index				: 50;
	position			: absolute;
}

div.reflex-popup table.reflex {
	width: 98%;
	margin-left: 1%;
	margin-right: 1%;
	margin-top: 0.5em;
	margin-bottom: 0.5em;
	border: .1em solid #333;
	border-spacing: 0;
}

div.reflex-popup-title-bar {
	height				: auto;
	background-color	: #000000;
	padding				: 3px;
	background-image	: url('../img/template/background.png');
	background-repeat	: repeat-x;
	-moz-user-select	: none;
}

div.reflex-popup-title {
	color : #EEEEEE;
	float : left;
	width : 79%;
	font-weight: bold;
	
}

span.reflex-popup-title-text {
	vertical-align: middle;
}

img.reflex-popup-title-icon {
	vertical-align: middle;
	margin-right: 0.25em;
}

div.reflex-popup-title-bar-buttons {
	float : right;
	width : 20%;
}

div.reflex-popup-content {
}

div.reflex-popup-footer {
	position	: relative;
	text-align	: right;
	bottom		: 0;
	right		: 0;
	padding-right: 1%;
	padding-left: 1%;
	padding-top: 0;
	padding-bottom: 0.5em;
}

input.displayOnly[disabled] {
	font-size: 1em;
	border: none;
	color: #000 !important;
	margin: .2em;
	background-color: #eee;
	text-align: right;
}

div.reflex-loading-image {
	background-repeat: no-repeat;
	background-image: url("../img/template/loading.gif");
	background-position: 50% 50%;
	margin: auto;
	display: block;
	position: default;
	text-align: center;
}

div.reflex-loading-image p {
	text-align: center;
}

div.reflex-popup-content h1 {
	font-size: 1.5em;
	color: #000;
	text-align: center;
	padding: 0.2em;
}

div.reflex-popup-text-content {
	padding: 0.8em;
}

div.reflex-popup-footer input[type="button"] {
	margin: 0 .25em;
}

div.reflex-popup-footer input.reflex-button {
	margin-left: 0.5em;
}
/************************ END - Reflex Popup - END ****************************/

/***************** START - Credit Card Payment Form - START *******************/
input.validation-error-tooltip-button {
	visibility: hidden;
	width: 18px !important;
	height: 18px !important;
	border: none !important;
	cursor: pointer !important;
	margin-left: 0.2em !important;
	background-color: inherit;
	background-repeat: no-repeat !important;
	background-image: url("../img/template/tooltip_error.gif") !important;
	background-position: 50% 50% !important;
}

td[contains-invalid-input=true] input.validation-error-tooltip-button {
	visibility: visible;
}

div.validation-error-tooltip {
	position: absolute;
	top: 0;
	left: 0;
	color: black;
	background: white;
	border: 0.1em solid black;
	z-index: 10000;
	padding: 0.4em;
	max-width: 20em;
}

div.cvv-image-tooltip {
	position: absolute;
	z-index: 10000;
}

div.cvv-image-tooltip img {
	clear: both;
	margin: 0.2em;
	float: left;
}

.tooltip-source-element {
	color: #00f;
	text-decoration: underline;
	cursor: pointer;
}

input#online-credit-card-payment-button
{
}

.amount-credit { color: green !important; }
.amount-debit { color: blue !important; }
th.amount, td.amount { text-align: right; }
td.attention { color: red !important; }
/******************* END - Credit Card Payment Form - END *********************/

/*********************** START - SP table stuff - START ***********************/

/*  I'm pretty sure this stuff (the styling commentted out) isn't used in flex
table.sp th.sp-unsorted,
table.sp th.sp-sorted-ascending,
table.sp th.sp-sorted-descending
{
	cursor: pointer;
	background-position: 0% 50%; 
	background-repeat: no-repeat; 
	background-image: url(../img/order_neither.png);
	padding-left: 0.8em;
}

table.sp {
	width: 100%;
	margin-left: auto;
	margin-right: auto;
	border: .1em solid #333;
	border-spacing: 0;
}

table.sp caption div#caption_bar {
	width: 100%;
	clear: both;
}

table.sp caption div#caption_title{
	float: left;
	height: 100%;
	color: #eee;
	background-color: #333;
	text-align: center;
	font-weight: bold;
	padding: 0.4em 1em;
}

table.sp caption div#caption_options{
	float: right;
	text-align: right;
	font-weight: bold;
	padding: .1em .5em;
}

table.sp thead,
table.sp tfoot {
	background-color: #333;
	color: #eee;
	text-align: left;
}

table.sp tfoot {
	text-align: right;
}

table.sp thead tr th,
table.sp tfoot tr th {
	padding-top: .25em;
	padding-bottom: .25em;
}

table.sp th.sp-sorted-ascending
{
	background-color: #666;
	background-image: url(../img/order_asc.png);
}

table.sp th.sp-sorted-descending
{
	background-color: #666;
	background-image: url(../img/order_desc.png);
}

table.sp tfoot a,
table.sp tfoot a:visited,
table.sp tfoot a:link {
	color: #ffde05 !important;
}

table.sp td,
table.sp th {
	padding: .05em .1em;
	text-align: left;
}

table.sp tr td {
	background-color: #ddd;
	color: #333
}

table.sp tr.alt td {
	background-color: #fff;
}

table.sp td.title {
	width: 20%;
	vertical-align: top;
	font-weight: bold;
}

table.highlight-rows tbody tr:hover td
{
	background-color: #ffc;
}
*/
.MediumSpace
{
	height: 20px;
}

.LargeSpace
{
	height: 30px;
}

div.Title{
	color:					#eeeeee;
	background-color:		#333333;
	height:					20px;
	width:					965px; 
	text-indent:			10px;
	font-weight:			bold;
	padding:				0px;
	margin:					0px;
	text-align:				left;
	padding-top:			5px;
}

div.PartTitle{
	color:					#eeeeee;
	background-color:		#333333;
	height:					20px;
	width:					470px; 
	text-indent:			10px;
	font-weight:			bold;
	padding:				0px;
	margin:					0px;
	padding-right:			0px;
	margin-right:			0px;
	padding-top:			5px;
	padding-bottom:			0px;
	text-align:				left;
}

#account_details_holder
{
	border:					1px solid #333333;
	width:					468px;
	background-color:		#eeeeee;
}

#account_details_table
{
	border:					1px solid #eeeeee;
	width:					100%;
}

#primary_contact_details_holder
{
	border:					1px solid #333333;
	width:					468px;
	background-color:		#eeeeee;
}

#primary_contact_details_table
{
	border:					1px solid #eeeeee;
	width:					100%;
}

.Page
{
	width:					963px;
	border:					1px solid #333333;
	background-color:		#eeeeee;
}

.data-table td
{
	padding-top:			2px;
	padding-bottom:			2px;
}

#sale-items-table td
{
	text-indent:			10px;
}

#sale_panel tr
{
	vertical-align:			top;
}

#after-commit-button-panel
{
}

.maximum-area-body
{
	padding-bottom:			15px;
}

tr.hide-if-not-last-child:last-child
{
	display: table-row !important;
}

td.hide-if-not-last-child:last-child
{
	display: table-cell !important;
}

div.hide-if-not-last-child:last-child
{
	display: block !important;
}

span.hide-if-not-last-child:last-child
{
	display: inline !important;
}

.hide-if-not-last-child
{
	display: none;
}
/************************* END - SP table stuff - END *************************/


/********************** START - Document Explorer - START *********************/
div.document-explorer-address
{
	background-color	: #eee;
	padding				: 0.5em;
	border				: 0.1em solid #333;
	clear				: both;
}

div.document-explorer-address-node
{
	background-color	: #f9f9f9;
	border				: 0.1em solid #ccc;
	display				: inline-block;
	padding				: 0.25em;
}

div.document-explorer-address-node span.node-label
{
	margin-left			: 0.25em;
	vertical-align		: middle;
}

div.document-explorer-address-node[onclick]
{
	color				: #FF4200;
}

div.document-explorer-address-node[onclick]:hover
{
	background-color	: #eee;
	border-color		: #888;
	cursor				: pointer;
}

div.document-explorer-address-node[onclick]:hover
{
	background-color	: #eee;
	border-color		: #888;
	cursor				: pointer;
}

div.document-explorer-address-separator
{
	max-height		: 16px;
	max-width		: 16px;
	display			: inline-block;
	margin-left		: 0.25em;
	margin-right	: 0.25em;
}

div.document-explorer-address-separator img
{
	max-height		: 16px;
	max-width		: 16px;
	vertical-align	: middle;
}

div.document-explorer
{
	border-left		: 0.1em solid #333;
	border-right	: 0.1em solid #333;
	padding			: 0px;
	clear			: both;
	margin-top		: .25em;
	margin-bottom	: .25em;
}

div.document-explorer-list
{
	min-height			: 30em;
	max-height			: 30em;
	overflow-y			: scroll;
	background-color	: #efefef;
	border-left			: .1em solid #333;
	border-right		: .1em solid #333;
}


div.reflex-popup div.document-explorer table.document-explorer
{
	margin			: 0px;
	width			: 100%;
	border			: none;
}

table.document-explorer
{
	width			: 100%;
	margin			: 0px;
	font-size		: 10pt;
	background-color	: #fff;
}

img.document-explorer-icon
{
	max-height		: 16px;
	max-width		: 16px;
	vertical-align	: text-bottom;
}

img.document-explorer-icon-overlay
{
	max-height		: 16px;
	max-width		: 16px;
	vertical-align	: text-bottom;
	position		: relative;
	left			: -16px;
	margin-right	: -16px;
	opacity			: 0.75;
}

table.document-explorer tbody
{
	-moz-user-select	: none;
}

table.document-explorer th.notice-normal
{
	font-weight	: normal;
	font-style	: italic;
}

table.document-explorer th span[onclick]
{
	color				: #ffde05;
}

table.document-explorer th span[onclick]:hover
{
	text-decoration		: underline;
}

table.document-explorer th img.icon
{
	vertical-align	: text-bottom;
	
}

table.document-explorer th img.icon.overlay
{
	margin-left		: -16px;
	opacity			: 0.75;
}

table.document-explorer td
{
	overflow: hidden;
}


table.document-explorer span.record-label
{
	margin-left	: 0.25em;
}

table.document-explorer .field-name
{
	min-width	: 25em;
	max-width	: 25em;
}

table.document-explorer .field-size
{
	min-width	: 5em;
	max-width	: 5em;
}

table.document-explorer .field-date
{
	min-width	: 8em;
	max-width	: 8em;
}

table.document-explorer .field-user
{
	min-width	: 8em;
	max-width	: 8em;
}

table.document-explorer .field-actions
{
	width	: auto;
}

table.document-explorer tbody tr td
{
	background-color	: #efefef;
	border				: none !important;
}

table.document-explorer tr.selected[onclick] td
{
	background-color	: #bbb;
}

table.document-explorer tr.selected[onclick]:hover td
{
	background-color	: #ccc;
}

table.document-explorer tbody tr[onclick]:hover
{
	background-color	: #ddd;
}

table.document-explorer tbody tr[onclick]:hover td
{
	cursor				: pointer;
	text-decoration		: underline;
	background-color	: #ddd;
}

div.document-explorer-status
{
	background-color	: #f9f9f9;
	padding				: 0.5em;
	border				: 0.1em solid #333;
}

div.document-explorer-status
{
	min-height	: 7em;
	max-height	: 7em;
	font-size	: 9pt;
	overflow	: hidden;
}

div.document-explorer-status span.name
{
	font-size	: 10pt;
	font-weight	: bold;
}

div.document-explorer-status span.description
{
	font-style	: italic;
}
/************************ END - Document Explorer - END ***********************/

/*************************** START - Actions - START **************************/
div.action-list
{
	margin : 0.25em;
	background-color : #FFF;
	
	overflow-x : hidden;
	overflow-y : auto;
}

div.action-list.embedded
{
	margin : 0em;
	background-color : inherit;
}

div.action-list div.item
{
	margin : 0.25em;
	padding : 0.25em;
	border : 1px solid #000;
	background-color : #EFEBE7;
}

div.action-list.embedded div.item
{
	margin : 0.25em 0em;
}

div.action-list div.item.note
{
}

div.action-list div.item.action
{
	border-color : #000;
	background-color : #bcd;
}

div.action-list div.item div.header
{
}

div.action-list div.item div.timestamp
{
	float : left;
}

div.action-list div.item div.type
{
	float : right;
	text-align : right;
	font-weight : bold;
}

div.action-list div.item div.by-line
{
	clear : both;
	float : none;
}

div.action-list div.item div.details
{
	margin-top : 0.5em;
}

div.action-list-controls
{
}
/***************************** END - Actions - END ****************************/


/************ START - Vixen Popup Stuff (old style popups) - START ************/
/** These popups must be available in both framework 2 and framework 3 pages **/
div#PopupPageBody
{
	background-color:	#EFEBE7;
	padding:			3px;
}

.PopupBox
{
	position: absolute;
	border: .1em solid #111;
	background-color: #eee;
}

.PopupBoxTopBar
{
	font-size: 1em;
	line-height: 1.25em;
	color: #eee;
	font-weight: bold;
	background-color: #000;
	background-image: url('../img/template/background.png');
	background-repeat: repeat-x;
	margin: 0;
	padding: .25em;
}

.PopupBoxClose
{
	float: right;
	cursor: pointer;
}

#PopupHolder #overlay
{
	position: absolute;
	left: 0em;
	top: 0em;
	width: 100%;
	height: 100%;
	z-index: 1000;
	background-color: #000;
	opacity: .50;
}

/* DEBUG POPUP */
div.popup-debug
{
	background-color	: #fff;
	
	color				: #000;
	font-family			: monospace;
	font-size			: 1.2em;
	
	height				: 20em;
	width				: 100%;
	overflow			: scroll;
}

div.popup-debug table
{
	font-family			: inherit;
	font-size			: inherit;
	
	border-collapse		: collapse;
	padding				: 0;
}

div.popup-debug table tbody tr th
{
	vertical-align		: top;
	text-align			: right;
	
	font-family			: inherit;
	font-weight			: bold;
}

div.popup-debug table tbody tr td
{
	vertical-align		: top;
	text-align			: left;
	
	font-family			: inherit;
}

div.popup-debug table ul
{
	list-style-type	: none;
	padding			: 0;
}

div.popup-debug table ul li
{
	font-family			: inherit;
}
/************** END - Vixen Popup Stuff (old style popups) - END **************/

/********************* START - Tab Collection stuff - START *******************/
div.tab-collection
{
}

div.tab-collection div.tab-header-container
{
	/*border-bottom	: solid 1px #888;*/
}

div.tab-collection div.tab-header-container div.tab-header
{
	padding			: 0.2em;
	border-top		: solid 1px #888;
	border-right	: solid 1px #888;
	border-left		: solid 1px #888;
	cursor			: pointer;
}

div.tab-collection div.tab-header-container div.tab-header:hover
{
	background-color: #EEE;
}

div.tab-collection div.tab-header-container div.selected,
div.tab-collection div.tab-header-container div.selected:hover
{
	background-color: #CCC;
	border-bottom: solid 1px #CCC;
}

div.tab-collection div.tab-body-container
{
	padding: 0.25em;
	border: solid 1px #888;
	border-top: none;
	background-color: #CCC;
}
/*********************** END -  Tab Collection stuff - END ********************/


/********************** START - Sale Statuses - START *************************/
.sale-item-status-submitted,
.sale-item-status-verified,
.sale-item-status-awaiting-dispatch,
.sale-item-status-dispatched,
.sale-item-status-completed,
.sale-status-submitted,
.sale-status-verified,
.sale-status-awaiting-dispatch,
.sale-status-dispatched,
.sale-status-completed
{
	color: #060;
}

.sale-item-status-manual-intervention,
.sale-item-status-rejected,
.sale-item-status-cancelled,
.sale-status-manual-intervention,
.sale-status-rejected,
.sale-status-cancelled
{
	color: #f00;
}
/************************ END - Sale Statuses - END ***************************/

/************** START - Console Upcoming Calendar Events - START **************/
div.console-calendar
{
	padding-left	: 1em;
	padding-right	: 1em;
}

div.console-calendar div.day
{
	margin-top		: 1em;
	margin-bottom	: 1em;
}

div.console-calendar div.day:first-child
{
	font-size	: 1.5em;
	font-weight	: bold;
}

div.console-calendar div.day span.date
{
	font-weight	: bold;
}

div.console-calendar div.day tbody td.department-responsible,
div.console-calendar div.day tbody th.department-responsible
{
	min-width	: 25%;
	max-width	: 25%;
	width		: 25%;
}
/**************** END - Console Upcoming Calendar Events - END ****************/

/*************** START - Dodgey Date Time Picker Control - START **************/
.date-time td
{
	cursor: default;
	text-align: center !important;
	border-bottom: .1em dotted #c0c0c0;
}

.date-time .bar
{
	text-align: center;
	background: #F2F5FF;
	padding: .2em 0 .2em;
}

.date-time .date-time-active:hover
{
	color: #fff;
	background: #666;
}

.date-time td.date-time-active-today
{
	border: .1em solid #111;
}

.date-time button
{
	border: none;
	padding: 0;
}

.date-time title
{
	font-weight: bold;
}

.date-time th
{
	background: #fff;
	color: #000;
	border-bottom: .1em solid #c0c0c0;
	text-align: center !important;
	margin-top: .2em;
}

.date-time option, .date-time select
{
	font-size: 1em;
}

.date-time
{
	border: .2em solid #111;
	background: #eee;
	padding: .1em;
	width: 15em;
}

.date-time table
{
	width: 100%;
	font-size: 1em;
	margin: 0 auto;
}
/***************** END - Dodgey Date Time Picker Control - END ****************/

/****************** START - Separators and Seperators - START *****************/
.Separator,
.Seperator
{
	height:               20px;
}

.SmallSeparator,
.SmallSeperator
{
	height:               10px;
}

.TinySeparator,
.TinySeperator
{
	height:               5px;
}
/******************** END - Separators and Seperators - END *******************/

/*********** START - Stuff that I haven't categorized yet - START *************/
div.MsgNotice
{
	margin:				5px 3px;
	padding:			5px;
	border:				solid 1px #D1D1D1;
	background-color:	#FFFFCC;
	position:			relative;
}

.ButtonContainer
{
	height: 	25px;
	padding:	3px 0px 3px 0px;
}

div.clear
{
	float:	none;
	clear:	both;
}

a img
{
	border: 0;
	vertical-align: middle;
}

pre {
	font-family: Arial,Verdana,Helvetica;
	font-size: 1em;
}

/* Table stuff (using a table to arrange elements of a form) */
table.form-data
{
	width			: 99%;
	margin-left		: auto;
	margin-right	: auto;
}

table.form-data td,
table.form-data th
{
	padding	: 0em 0em;
}

table.form-data td.title
{
	vertical-align	: top;
	font-weight		: bold;
}

table.form-data input[disabled],
table.form-data select[disabled],
table.form-data textarea[disabled]
{
	background-color: #DDDDDD;
}


/* Message highlighting */
div.warning
{
	text-align:			left;
	margin:				5px 2px 5px 2px;
	padding:			5px;
	border:				solid 1px #D1D1D1;
	background-color:	#FFC;
	color:				#C00;
}

span.warning
{
	color:				#C00;
}

div.message {
	background: #CFFFCD;
	font-weight: bold;
	color: #111;
	border: .1em solid #060;
	width: 90%;
	padding: .5em;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 1em;
} 

div.error {
	background: #ffecf0;
	color: #111;
	border: .1em solid #d30;
}
/************* END - Stuff that I haven't categorized yet - END ***************/

/******************************* CUSTOM CONTROLS ******************************/

/** Tab/Tab Group Control Styling */

div.tab-group
{
	position	: relative;
}

div.tab-group div.tab-page-container
{
	border		: none;
	border-top	: 1px solid #000;
}

div.tab-group div.tab-page
{
	padding				: 0.5em;
	background-color	: #f5f5f5;
}

div.tab-group.embedded div.tab-page-container
{
	border				: 1px solid #000;
}

div.tab-group div.tab-row
{
	background-color	: #888;
}

div.tab-group.embedded div.tab-row
{
	background-color	: inherit;
}

div.tab-group div.tab
{
	/*float							: left;*/
	display							: inline-block;
	position						: relative;
	top								: 1px;
	margin-left						: 0.25em;
	border							: 1px solid #000;
	background-color				: #ddd;
	padding							: 0.25em;
	-moz-border-radius				: 0.5em 0.5em 0 0;
	-webkit-border-top-left-radius	: 0.5em;
	-webkit-border-top-right-radius	: 0.5em;
	
	-moz-user-select				: none;
	-webkit-user-select				: none;
}

div.tab-group div.tab img.icon
{
	vertical-align	: text-bottom;
	margin-right	: 0.25em;
}

div.tab-group div.tab:hover
{
	background-color				: #fff;
	cursor							: pointer;
}

div.tab-group div.tab.selected
{
	background-color	: #f5f5f5;
	border-bottom		: 1px solid #f5f5f5;
	font-weight			: bold;
	cursor				: default;
}
/******************************************************************************/

/********************************* INPUT TABLE ********************************/
table.input
{
	width			: 99%;
	margin-left		: auto;
	margin-right	: auto;
	border			: 0.1em solid #1C1C1C;
	border-spacing	: 0;
	font-size		: inherit;
}

table.input thead,
table.input tfoot
{
	background-color	: #202020;
	color				: #eee;
	text-align			: left;
}

table.input tfoot
{
	text-align	: right;
}

table.input tbody tr td input[type="text"],
table.input tbody tr td input[type="password"],
table.input tbody tr td textarea,
table.input tbody tr td select
{
	width			: 98%;
}

table.input tbody tr td input[type="text"].date-formatted
{
	width			: 10em;
}

table.input tbody tr td img[onclick]:hover
{
	cursor			: pointer;
}

table.input tfoot a,
table.input tfoot a:visited,
table.input tfoot a:link
{
	color	: #ffde05;
}

table.input tbody tr th
{
	text-align			: right;
	padding-right		: 0.5em;
	width				: 10em;
	vertical-align		: top;
}

table.input tbody tr td
{
	background-color	: #ddd;
	color				: #333;
	padding-left		: 0.5em;
	vertical-align		: top;
}

table.input tbody tr td .hide
{
	display				: none;
}

table.input tbody tr td div input,
table.input tbody tr td div select,
table.input tbody tr td div textarea
{
	vertical-align	: top;
}

table.input tbody tr td input[type="checkbox"]
{
	margin-right	: 0.25em;
	vertical-align	: middle;
}

table.input tbody tr td div.mandatory input,
table.input tbody tr td div.mandatory select,
table.input tbody tr td div.mandatory textarea
{
	background	: #fff;
	color		: #111;
	border		: .1em solid #da8;
}

table.input tbody tr td div.invalid input,
table.input tbody tr td div.invalid select,
table.input tbody tr td div.invalid textarea
{
	background	: #ffecf0;
	color		: #111;
	border		: .1em solid #d30;
}

table.input tbody tr td div.valid input,
table.input tbody tr td div.valid select,
table.input tbody tr td div.valid textarea
{
	background	: #ecfff0;
	color		: #111;
	border		: .1em solid #3d0;
}

table.input tbody tr.alt td
{
	background-color	: #fff;
}
/******************************************************************************/

/************************* SELECT LIST (and GROUPS) ***************************/
div.select-list
{
	background-color	: #fff;
	border				: 1px solid #000;
	overflow-y			: scroll;
	
	/* Default Height */
	height				: 10em;
}

table.select-list
{
	border-collapse	: collapse;
	width			: 100%;
}

table.select-list tr:nth-child(even)
{
	background-color	: #eee;
}

table.select-list tr:hover td
{
	background-color	: #b5ccdf;
}

table.select-list tr td.icon
{
	width	: 0.1em;
	cursor	: pointer;
}

div.select-list-group
{
	column-count			: 2;
	-moz-column-count		: 2;
	-webkit-column-count	: 2;
	
	column-gap				: 0.5em;
	-moz-column-gap			: 0.5em;
	-webkit-column-gap		: 0.5em;
}

div.select-list-group h4
{
	padding	: 0;
	margin	: 0;
}
/******************************************************************************/

/********************************* TREE GRID **********************************/

/*** Standard Styling ***/
div.tree-grid
{
	background-color	: #fff;
	border				: 1px solid #000;
	overflow-y			: scroll;
	
	/* Default Height */
	height				: 15em;
	
	position			: relative;
}

table.tree-grid
{
	border-collapse	: collapse;
	width			: 100%;
}
/*
table.tree-grid tr:nth-child(even)
{
	background-color	: #eee;
}
*/
table.tree-grid tr:hover td
{
	background-color	: #b5ccdf;
}

table.tree-grid tr td
{
	vertical-align	: top;
}

table.tree-grid tr td.icon
{
	width			: 0.1em;
}

table.tree-grid tr td.tree img
{
	width			: 16px;
	min-width		: 16px;
	max-width		: 16px;
	height			: 16px;
	min-height		: 16px;
	max-height		: 16px;
	vertical-align	: top;
	
	-moz-user-select	: none;
}

table.tree-grid tr td.tree span.label
{
	padding-left	: 0.25em;
}

table.tree-grid tr td.tree img.icon
{
	/*width		: 16px;*/
	/*min-width	: 16px;*/
	max-width	: 16px;
	/*height		: 16px;*/
	/*min-height	: 16px;*/
	max-height	: 16px;
	
	vertical-align	: top;
}

table.tree-grid tr td.tree img.clickable
{
	cursor	: pointer;
}

table.tree-grid tr td.row-select
{
	width	: 0.1em;
}

table.tree-grid tr td.row-select input[type="checkbox"]
{
	display	: none;
}

table.tree-grid tr td.row-select img
{
	-moz-user-select	: none;
	cursor				: pointer;
}

/*** Additional Styling ***/
table.tree-grid.permissions tr td
{
	font-style	: italic;
	opacity		: 0.5;
}

table.tree-grid.permissions tr.selectable td
{
	font-style	: normal;
	opacity		: 1;
}

div.tree-grid div.loading
{
	display				: table;
	background-color	: rgba(150, 150, 150, 0.5);
	height				: 100%;
	width				: 100%;
	
	position			: absolute;
	top					: 0px;
	left				: 0px;
}

div.tree-grid div.loading div
{
	display			: table-cell;
	vertical-align	: middle;
	text-align		: center;
	font-style		: italic;
}

div.tree-grid div.loading div span
{
	border				: 1px solid #000000;
	background-color	: #ffffff;
	
	display				: inline-block;
	padding				: 0.25em;
}

div.tree-grid div.loading img
{
	width			: 16px;
	height			: 16px;
	vertical-align	: middle;
}
/******************************************************************************/

/******************************** DATE PICKER *********************************/

div.reflex-datepicker
{
	border				: 0.1em solid #BF8E5F;
	background-color	: #FFF7EF;
	
	padding		: 0.2em;
	
	font-size	: 0.8em;
	
	font-family	: "Trebuchet MS", Verdana, Tahoma, Arial, sans-serif;
	
	-moz-border-radius-topleft			: 0.5em;
	-moz-border-radius-bottomleft		: 0.5em;
	-webkit-border-top-left-radius		: 0.5em;
	-webkit-border-bottom-left-radius	: 0.5em;
	-moz-border-radius-topright			: 0.5em;
	-moz-border-radius-bottomright		: 0.5em;
	-webkit-border-top-right-radius		: 0.5em;
	-webkit-border-bottom-right-radius	: 0.5em;
}

div.reflex-datepicker div.header
{
	
}

div.reflex-datepicker div.footer
{
	border-top	: 0.1em solid #BF8E5F;
	padding		: 0.25em;
	
	font-size	: 1.1em;
	font-weight	: bolder;
}

div.reflex-datepicker div.footer div.reflex-datepicker-datetime,
div.reflex-datepicker div.footer div.reflex-datepicker-datetime div.reflex-datepicker-datetime-date,
div.reflex-datepicker div.footer div.reflex-datepicker-datetime div.reflex-datepicker-datetime-time
{
	display	: inline-block;
}
div.reflex-datepicker div.footer div.reflex-datepicker-datetime div.reflex-datepicker-datetime-time
{
	margin-left	: 0.25em;
}

div.reflex-datepicker div.footer div.reflex-datepicker-datetime-time span
{
	margin-left		: 0.25em;
	margin-right	: 0.25em;
}

div.reflex-datepicker div.content
{
	
}

div.reflex-datepicker div.content div.clear
{
	clear	: both;
}

div.reflex-datepicker div.content div.month
{
	/*border	: 1px solid #333;*/
	display			: inline-block;
	vertical-align	: top;
}

div.reflex-datepicker div.content div.month caption
{
	font-size	: 1.2em;
	font-weight	: bold;
	
	color		: #fff;
	
	background-image	: url('../../admin/img/template/wave.png');
	background-color	: #D7812A;
	background-position	: 0% 45%;
	
	height		: 2em;
	line-height	: 2em;
	
	vertical-align	: middle;
	
	border-top		: 0.1em solid #DFA66F;
	border-bottom	: 0.1em solid #8F5823;
	border-left		: 0.1em solid #DFA66F;
	border-right	: 0.1em solid #8F5823;
}

div.reflex-datepicker div.content div.month tr.days th
{
	font-weight		: bold;
}

div.reflex-datepicker div.content div.month thead
{
	border-bottom	: 0.1em solid #BF8E5F;
}

div.reflex-datepicker div.content div div.month:first-child caption
{
	-moz-border-radius-topleft			: 0.5em;
	-moz-border-radius-bottomleft		: 0.5em;
	-webkit-border-top-left-radius		: 0.5em;
	-webkit-border-bottom-left-radius	: 0.5em;
}

div.reflex-datepicker div.content div div.month:last-child caption
{
	-moz-border-radius-topright			: 0.5em;
	-moz-border-radius-bottomright		: 0.5em;
	-webkit-border-top-right-radius		: 0.5em;
	-webkit-border-bottom-right-radius	: 0.5em;
}

div.reflex-datepicker div.content div.month caption span
{
	vertical-align	: middle;
	padding			: 0.25em;
}

div.reflex-datepicker div.content div.month td
{
	
	min-width	: 2em;
	max-width	: 2em;
	width		: 2em;
	
	min-height	: 2em;
	max-height	: 2em;
	height		: 2em;
	
	padding-right	: 0.25em;
}

div.reflex-datepicker div.content div.month td.day
{
	border	: 0.1em solid #BF8E5F;
	
	background-color	: #EFE0D1;
	background-image	: url('../../admin/img/template/wave.png');
	background-repeat	: repeat-x;
	background-position	: 50%;
	
	text-align		: right;
	vertical-align	: middle;
}

div.reflex-datepicker div.content div.month td.day.selectable:hover
{
	border	: 0.1em solid #BF6A17;
	
	background-color	: #FFF7EF;
	
	color		: #BF6A17;
	cursor		: pointer;
}

div.reflex-datepicker div.content div.time-picker
{
	border-top	: 0.1em solid #BF8E5F;
	/*padding		: 0.25em;*/
	padding		: 2em;
	
	font-size	: 1.1em;
	font-weight	: bolder;
}

/* Day Mutator Classes */
div.reflex-datepicker div.content div.month td.day.reflex-datepicker-day-today span
{
	color			: #BF6A17;
	border-bottom	: 0.1em dotted #BF6A17;
}

div.reflex-datepicker div.content div.month td.day.reflex-datepicker-day-selected
{
	color				: #fff;
	font-weight			: bolder;
	
	background-color	: #CF8D4D;
}

/******************************************************************************/

/*********************************** SLIDER ***********************************/

div.reflex-slider
{
	-moz-user-select	:	none;
	-webkit-user-select	:	none;
}

div.reflex-slider-rail,
div.reflex-slider-rail-handle
{
	-moz-border-radius-topright			: 0.25em;
	-moz-border-radius-bottomright		: 0.25em;
	-moz-border-radius-topleft			: 0.25em;
	-moz-border-radius-bottomleft		: 0.25em;
	-webkit-border-top-right-radius		: 0.25em;
	-webkit-border-bottom-right-radius	: 0.25em;
	-webkit-border-top-left-radius		: 0.25em;
	-webkit-border-bottom-left-radius	: 0.25em;
}

div.reflex-slider-rail
{
	position	: relative;
	
	border		: 0.1em solid #DFA66F;
	
	min-height	: 0.5em;
	max-height	: 0.5em;
	height		: 0.5em;
}

div.reflex-slider-rail-label
{
	position	: absolute;
	top			: -1.5em;
	
	border				: 0.1em solid BF6A17;
	background-color	: #fff;
}

div.reflex-slider-rail-range
{
	position	: absolute;
	
	min-height	: 100%;
	max-height	: 100%;
	height		: 100%;
	
	background-color	: #CF8D4D;
	background-image	: url('../../admin/img/template/wave.png');
}

div.reflex-slider-rail-handle
{
	position	: absolute;
	top			: -0.25em;
	left		: 0%;			/* default position -- overridden element style */
	
	border		: 0.1em solid #BF6A17;
	
	background-image	: url('../../admin/img/template/wave.png');
	background-color	: #EFE0D1;
	
	min-width	: 0.5em;
	max-width	: 0.5em;
	width		: 0.5em;
	
	min-height	: 1em;
	max-height	: 1em;
	height		: 1em;
	
	margin-left	: -0.25em;
	
	cursor		: default;
}

div.reflex-slider-rail-handle:hover
{
	border-color		: #BF6A17;
	background-color	: #FFF7EF;
}

div.reflex-slider-rail-marker
{
	margin-left	: -50%;
	position	: absolute;
}

/******************************************************************************/

/*
	Emulates the old Listing Table style from Framework v2 
	This is only so that new tables on old pages don't break style
*/
table.listing-fw3
{
	border			: solid 1px #C1C1C1;
	border-spacing	: 0;
}

table.listing-fw3 td,
table.listing-fw3 th
{
	padding	: 3px;
}

table.listing-fw3 thead th
{
	border-bottom:       solid 1px #C1C1C1;
	background-repeat:   repeat-x;
	background-image:    url('../../admin/img/template/background.png');
	color:               #FFFFFF;
	font-size:			 10pt;
}

table.listing-fw3 .icon
{
	width:               20px;
}

table.listing-fw3 thead th a
{
	color:               #FFFFFF;
	text-decoration:     none;
}

table.listing-fw3 tbody tr:nth-child(odd) th,
table.listing-fw3 tbody tr:nth-child(odd) td
{
	background-color:    #FFFFFF;
	vertical-align:			top;
}

table.listing-fw3 tbody tr:nth-child(even) th,
table.listing-fw3 tbody tr:nth-child(even) td
{
	background-color:    #ddd;
	vertical-align:			top;		
}

table.listing-fw3 thead th.VixenTableSortColumn div.VixenTableSortColumnWrapper 
{
	display: 				inline;
	background-repeat:   	no-repeat;
	background-position: 	100% 50%;
	padding-right: 			10px;
	background-image:		url('../../admin/img/template/order_none.png');
	cursor:					pointer;
}

table.listing-fw3 thead th.VixenTableSortColumnAsc div.VixenTableSortColumnWrapper
{
	background-image:		url('../../admin/img/template/order_asc.png');
}

table.listing-fw3 thead th.VixenTableSortColumnDesc div.VixenTableSortColumnWrapper
{
	background-image:		url('../../admin/img/template/order_desc.png');
}

table.listing-fw3 tbody tr.Archived td
{
	background-color:    #C0C0C0;
	vertical-align:			top;		
}

table.listing-fw3 tbody tr.Selected th,
table.listing-fw3 tbody tr.Selected td
{
	background-color:	#99FF33;
	vertical-align:		top;		
}

table.listing-fw3 tbody tr.PrimarySelected th,
table.listing-fw3 tbody tr.PrimarySelected td
{
	background-color:	#bcd;
	vertical-align:		top;
}


table.listing-fw3 tbody tr.Hover th,
table.listing-fw3 tbody tr.Hover td
{
	background-color:    #FFFFAA;
	vertical-align:			top;		
}


/******************************************************************************/

/* List-based Tree */

div.reflex-tree
{
	border	: 0.1em solid #333;
}

div.reflex-tree *
{
	padding	: 0px;
	margin	: 0px;
}

div.reflex-tree ul
{
	list-style-type	: none;
}

div.reflex-tree ul.reflex-tree-header > li,
div.reflex-tree ul.reflex-tree-footer > li,
ul.reflex-tree-node-columns > li.reflex-tree-node-column
{
	display			: inline-block;
	overflow		: hidden;
	white-space		: nowrap;
}

ul.reflex-tree-node-columns > li.reflex-tree-node-column:nth-child(n+2) > span
{
	border-left	: 1px dotted #3f3f3f;
}

div.reflex-tree ul.reflex-tree-header
{
	border-top		: 1px solid #3f3f3f;
	border-bottom	: 1px solid #111;
	
	font-weight			: bold;
	color				: #eee;
	background-image	: url(../img/template/background.png);
}

div.reflex-tree ul.reflex-tree-header > li > span,
div.reflex-tree ul.reflex-tree-footer > li > span
{
	padding-left	: 0.25em;
}

div.reflex-tree ul.reflex-tree-header > li:nth-child(n+2) > span,
div.reflex-tree ul.reflex-tree-footer > li:nth-child(n+2) > span
{
	border-left	: 1px solid #3f3f3f;
}

ul.reflex-tree-body > li.reflex-tree-node > ul.reflex-tree-node-columns
{
	/* Root Node */
	display	: none;
}

li.reflex-tree-node-column > *
{
	vertical-align	: top;
}

li.reflex-tree-node-label > div
{
	display	: inline-block;
}

div.reflex-tree-node-children
{
	overflow-y	: hidden;
	position	: relative;
}

div.reflex-tree-node-children > ul
{
	width	: 100%;
}

span.reflex-tree-node-expand
{
	/* Using padding instead of width/height because padding will override the span collapse */
	padding-top		: 16px;
	padding-left	: 16px;
	
	margin-right	: 0.25em;
}

span.reflex-tree-node-expandable
{
	display				: inline-block;
	background-image	: url("../img/template/tree_closed.png");
}

li.reflex-tree-node.reflex-tree-node-expanded > ul.reflex-tree-node-columns > li.reflex-tree-node-label > span.reflex-tree-node-expandable
{
	background-image	: url("../img/template/tree_open.png");
}

span.reflex-tree-node-icon img
{
	vertical-align	: middle;
	text-align		: center;
	
	max-width		: 16px;
	max-height		: 16px;
	
	margin-right	: 0.25em;
}

/******************************************************************************/



/******************************************************************************/

/* Ticker (Marquee) */
div.reflex-ticker
{
	position	: relative;
	width		: 500px;
	border		: 1px solid black;
	white-space	: nowrap;
	overflow	: hidden;
}

div.ticker > ul.ticker-frame
{
	position	: relative;
	left		: 0px;
}

div.ticker > ul.ticker-frame > li.ticker-message
{
	margin-left	: 2em;
	display		: inline-block;
}

/******************************************************************************/


/************************ START - Page Reset - START ************************/
div.page-reset *
{
	font-family:		inherit;
	font-size:			inherit;
}

div.page-reset
{
	width:				70em;
}

div.page-reset h1
{	
	color:				#006599;
	font-size:			18pt;
}

div.page-reset h2
{
	font-size:			1.3em;
}
div.line-small
{
	border-bottom:		1px solid #006599;
	color:				#006599;
	font-size:			18pt;
	margin-bottom:		20px;
	margin-top:			0;
	padding-bottom:		5px;
}
/************************ END - Page Reset - END ************************/


/************************ START - Ported CSS from Framework 1 - START ************************/
.MsgNoticeWide
{
	background-color:		#FFFFC0;
	background-image:		url(../img/template/MsgNotice.png);
	background-position:	10px 50%;
	background-repeat:		no-repeat;
	border:					1px solid #868735;
	line-height:			25px;
	margin-bottom:			10px;
	padding:				5px 5px 5px 40px;
}
div.Required
{
	display:			inline-block;
	padding:			0;
	width:				10px;
	color:				#CC0000;
	text-align:			left;
	font-size:			0.8em;
	vertical-align:		top; 
}

.Attention
{
	border-bottom:			1px dashed #CC0000;
	color:					#CC0000;
	font-weight:			bold;
}
/************************ END - Ported CSS from Framework 1 - END ************************/


/************************ START - Form Layout - START ************************/
table.form-layout
{
	width:				100%;
	margin-left:		0;
	background-color:	#EFEFEF;
	border-spacing:		0;
	border:				1px solid #000000;
}

table.form-layout > tbody > tr > th
{
	text-align:			left;
	width:				15em;
	vertical-align:		top;
	padding:			3px 10px 3px 10px;
}

table.form-layout > tbody > tr > td
{
	background-color:	#dddddd;
	padding:			3px 10px 3px 10px;
	color:				#333333;
}

table.form-layout > tbody > tr > td > input[type=text]
{
	border:				1px solid #000000;
	width:				15em;
}

table.form-layout > tbody > tr > td > select
{
	border:				1px solid #000000;
}

table.form-layout > tbody > tr > td > ul
{
	list-style-type:	none;
	margin:				0;
	padding:			0;
	text-align:			left;
}

table.form-layout > tbody > tr > td > ul > li > table
{
	padding-left:		10px;
}

/************************ END - Form Layout - END ************************/

