// Vendor

/******************************************************************************/
/* Animations, Transitions */
/******************************************************************************/
-vnd-transition()
	-webkit-transition arguments
	-moz-transition arguments
	-ms-transition arguments
	-o-transition arguments
	transition arguments

-vnd-animation-duration()
	-webkit-animation-duration arguments
	-moz-animation-duration arguments
	-ms-animation-duration arguments
	-o-animation-duration arguments
	animation-duration arguments

-vnd-animation-name()
	-webkit-animation-name arguments
	-moz-animation-name arguments
	-ms-animation-name arguments
	-o-animation-name arguments
	animation-name arguments
/******************************************************************************/


-vnd-text-shadow()
	-webkit-text-shadow arguments
	-moz-text-shadow arguments
	-ms-text-shadow arguments
	-o-text-shadow arguments
	text-shadow arguments

-vnd-filter()
	-webkit-filter: arguments
	-moz-filter: arguments
	-ms-filter: arguments
	-o-filter: arguments
	filter: arguments

-vnd-user-select()
	-webkit-user-select: arguments
	-moz-user-select: arguments
	-ms-user-select: arguments
	-o-user-select: arguments
	user-select: arguments

-vnd-box()
	display: -webkit-box
	display: -moz-box
	display: -ms-box
	display: -o-box
	display: box

-vnd-box-flex()
	-webkit-box-flex arguments
	-moz-box-flex arguments
	-ms-box-flex arguments
	-o-box-flex arguments
	box-flex arguments
