// Vendor

/******************************************************************************/
/* Animations, Transitions */
/******************************************************************************/
-vnd-transition()
	-webkit-transition arguments
	-moz-transition arguments
	-ms-transition arguments
	-o-transition arguments
	transition arguments

-vnd-animation-duration()
	-webkit-animation-duration arguments
	-moz-animation-duration arguments
	-ms-animation-duration arguments
	-o-animation-duration arguments
	animation-duration arguments

-vnd-animation-name()
	-webkit-animation-name arguments
	-moz-animation-name arguments
	-ms-animation-name arguments
	-o-animation-name arguments
	animation-name arguments
/******************************************************************************/


-vnd-box-shadow()
	-webkit-box-shadow arguments
	-moz-box-shadow arguments
	-ms-box-shadow arguments
	-o-box-shadow arguments
	box-shadow arguments

-vnd-box()
	display: -webkit-box
	display: -moz-box
	display: -ms-box
	display: -o-box
	display: box

-vnd-box-flex()
	-webkit-box-flex arguments
	-moz-box-flex arguments
	-ms-box-flex arguments
	-o-box-flex arguments
	box-flex arguments

// Flex Box
-vnd-display-flex()
	display -webkit-flex
	display flex

-vnd-display-inline-flex()
	display -webkit-inline-flex
	display inline-flex

-vnd-align-items()
	-webkit-align-items arguments
	align-items arguments

-vnd-align-content()
	-webkit-align-content arguments
	align-content arguments

-vnd-align-self()
	-webkit-align-self arguments
	align-self arguments

-vnd-flex()
	-webkit-flex arguments
	flex arguments

-vnd-flex-direction()
	-webkit-flex-direction arguments
	flex-direction arguments

-vnd-flex-direction()
	-webkit-flex-direction arguments
	flex-direction arguments

-vnd-justify-content()
	-webkit-justify-content arguments
	justify-content arguments

-vnd-flex-grow()
	-webkit-flex-grow arguments
	flex-grow arguments

// Transforms
-vnd-transform-names = -webkit-transform transform

-vnd-transform()
	-webkit-transform arguments
	transform arguments

-vnd-transform-origin()
	-webkit-transform-origin arguments
	transform-origin arguments