div.message {
	background: #CFFFCD;
	font-weight: bold;
	color: #111;
	border: 1px solid #060;
	width: 90%;
	padding: .5em;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 1em;
} 

div.error {
	background: #ffecf0;
	color: #111;
	border: 1px solid #d30;
} 

div.warning {
	background: #ffc47f;
	border: 1px solid #ff8822;
	color: #111;
}

table.reflex {
	width: 90%;
	margin-left: auto;
	margin-right: auto;
	border: 1px solid #333;
	border-spacing: 0px;
}

table.reflex caption div#caption_bar {
	width: 100%;
	clear: both;
}

table.reflex caption div#caption_title{
	float: left;
	width: 25%;
	height: 100%;
	color: #eee;
	background-color: #333;
	text-align: center;
	font-weight: bold;
	padding-top: .25em;
	padding-bottom: .25em;
}

table.reflex caption div#caption_options{
	float: right;
	width: 70%;
	text-align: right;
	font-weight: bold;
	padding: 1px 5px;
}

table.reflex thead, table.reflex tfoot {
	background-color: #333;
	color: #eee;
	text-align: left;
}

table.reflex thead tr th, table.reflex tfoot tr th {
	padding-top: .25em;
	padding-bottom: .25em;
}

table.reflex td, table.reflex th {
	padding: .25em .5em;
}

table.reflex tr td {
	background-color: #eee;
	color: #333
}

table.reflex tr.alt td {
	background-color: #fff;
	color: #333
}

table.reflex a {
	color: #F88017;
	font-weight: bold;
}

table.reflex td.title {
	width: 20%;
	vertical-align: top;
	font-weight: bold;
}

table.reflex td.TICKETING-STATUS-UNASSIGNED {
	color: #ff0000;
}

table.reflex td.TICKETING-STATUS-ASSIGNED {
	color: #ff0000;
}

a.reflex {
	color: #ffde05;
}

a.reflex-new {
	color: #ffde05;
}

table.reflex tr td.ticketing-status-in-progress, table.reflex tr td.ticketing-status-assigned, option.ticketing-status-assigned, option.ticketing-status-in-progress, option.low-priority {
	color: #060;
}

table.reflex tr td.ticketing-status-with-carrier, table.reflex tr td.ticketing-status-with-customer, option.ticketing-status-with-carrier, option.ticketing-status-with-customer, option.medium-priotiy {
	color: #ff8822;
}

table.reflex tr td.ticketing-status-unassigned, table.reflex tr td.ticketing-status-deleted, option.ticketing-status-deleted, option.ticketing-status-unassigned, option.high-priority {
	color: #d30;
}

input.reflex-button, input.reflex-button {
	border: 1px solid #111 !important;
	color: #eee !important;
	margin: .1em !important;
}

option.urgent-priority {
	color: #d30;
	text-decoration: underline;
}
