table#ticketing {
	width: 80%;
	margin-left: auto;
	margin-right: auto;
	border: 1px solid #333;
	border-spacing: 0px;
}

table#ticketing caption div#caption_bar {
	width: 100%;
	clear: both;
}

table#ticketing caption div#caption_title{
	float: left;
	width: 25%;
	height: 100%;
	color: #eee;
	background-color: #333;
	text-align: center;
	font-weight: bold;
	padding-top: .25em;
	padding-bottom: .25em;
}

table#ticketing caption div#caption_options{
	float: right;
	width: 70%;
	text-align: right;
	font-weight: bold;
	padding: 1px 5px;
}

table#ticketing thead, table#ticketing tfoot {
	background-color: #333;
	color: #eee;
	text-align: left;
}

table#ticketing thead tr th, table#ticketing tfoot tr th {
	padding-top: .25em;
	padding-bottom: .25em;
}

table#ticketing td, table#ticketing th {
	padding: .25em .5em;
}

table#ticketing tr td {
	background-color: #eee;
	color: #333
}

table#ticketing tr.alt td {
	background-color: #fff;
	color: #333
}

table#ticketing a {
	color: #F88017;
	font-weight: bold;
}

table#ticketing td.title {
	width: 20%;
}
