	
	@import "weekly_planner.css";
	
	body
	{
		margin:               0px;
		
		font-family:          "Nimbus Sans L", Arial, Tahoma, Sans-serif;
		line-height:          18pt;
		font-size:            10pt;
	}
	
	img
	{
		border:               0;
	}
	
	.Left
	{
		float:                left;
	}
	
	.Right
	{
		float:                right;
	}
	
		
		
	.Clear
	{
		clear:                both;
	}
	
	.Seperator
	{
		height:               20px;
	}
	
	.SmallSeperator
	{
		height:               10px;
	}
	
	.TinySeperator
	{
		height:               5px;
	}
	
	.MicroSeperator
	{
		height:               0px;
	}
	
	.ColumnSpacer
	{
		width:					30px;
	}
	
	.Logo
	{
		z-index:	1000000;
		float:		left;
		padding:	1px;
		width:		99px;
		height:		44px;
	}
	
	.LogoSpacer
	{
		float:		left;
		height:		1px;
		width:		70px;
	}
	
	.Navigation
	{
		position: 	fixed;
		top:		70px;
		left:		1px;
	}
	
	div#Header
	{
		background-color:     #000000;
		color:                #FFFFFF;
		
		padding:				0px 10px 0px 0px;
		height:					46px;
		
		background-image:     url('../img/template/background.png');
		background-repeat:    repeat-x;
	}
	
	div#Header a
	{
		color:                #FFFFFF;
	}
	
	
	.sectionContent
	{
		margin:               auto;
	}
	
	div#Controller
	{
		margin:               10px;
	}
	
	div#Content
	{
		padding:              10px;
		
		width:					950px;
	}
	
	.Nbsp
	{
			padding-left:        5px;
	}
	
	.Wide-Form
	{
		margin:              0;
		padding-top:         5px;
		padding-left:        5px;
		padding-right:       0px;
		padding-bottom:      5px;
		
		border:              solid 1px #D1D1D1;
		background-color:    #F3F3F3;
		width:				 875px;
	}
	
	.Narrow-Form
	{
		margin:              0;
		padding-top:         5px;
		padding-left:        5px;
		padding-right:       0px;
		padding-bottom:      5px;
		
		border:              solid 1px #D1D1D1;
		background-color:    #F3F3F3;
		width:				 425px;
	}
	
	.FormPopup
	{
		margin:              0;
		padding-top:         5px;
		padding-left:        5px;
		padding-right:       0px;
		padding-bottom:      5px;
		
		border:              solid 1px #D1D1D1;
		background-color:    #F3F3F3;
		width:				 716px;
	}
	
	.Form-Content
	{
		margin-right:        20px;
	}
	
	.Required
	{
		width:				10px;
		padding:			0px;
	}
	
	div.MsgNoticeNarrow,
	div.MsgNoticeWide,
	div.MsgNoticeModal
	{
		border:              solid 1px #868735;
		background-color:    #FFFFC0;
		
		background-image:    url('../img/template/MsgNotice.png');
		background-repeat:   no-repeat;
		background-position: top left;
		
		padding-top:         5px;
		padding-left:        40px;
		padding-right:       5px;
		padding-bottom:      5px;
		
		line-height:         25px;
		
		margin-bottom:       10px;
	}
	
	div.MsgNoticeNarrow
	{
		width:					385px;
	}
	
	div.MsgNoticeWide
	{
		width:					835px;
	}
	
	div.MsgNoticeModal
	{
		width:					693px;
	}
	
	div.MsgErrorNarrow,
	div.MsgErrorWide,
	div.MsgErrorModal
	{
		border:              solid 1px #CC0000;
		background-color:    #f2dbdb;
		
		background-image:    url('../img/template/MsgError.png');
		background-repeat:   no-repeat;
		background-position: top left;
		
		padding-top:         5px;
		padding-left:        40px;
		padding-right:       5px;
		padding-bottom:      5px;
		
		line-height:         25px;
		
		margin-bottom:       10px;
	}
	
	div.MsgErrorNarrow
	{
		width:					385px;
	}
	
	div.MsgErrorWide
	{
		width:					835px;
	}
	
	div.MsgErrorModal
	{
		width:					100%;
	}
	
	h1
	{
		color:                #006599;
		
		font-size:            18pt;
		
		margin-top:           0;
		
		margin-bottom:			20px;
		padding-bottom:			5px;
		
		border-bottom:			solid 1px #006599;
	}
	
	h2
	{
		margin:              0;
		font-size:           12pt;
	}
	
	h3
	{
		margin-top:          20px;
		margin-left:         0;
		margin-right:        0;
		margin-bottom:       0;
		font-size:           12pt;
	}
	
	form
	{
		margin:               0;
	}
	
	th
	{
		text-align:				left;
	}
	
	.thRight
	{
		text-align:				right;
	}
	
	
	input, select
	{
		font-family:         "Nimbus Sans NL", Tahoma, sans-serif;
	}
	
	textarea.input-summary
	{
		border:              solid 1px #919191;
		width:               100%;
		padding:             3px;
	}
	
	textarea.input-summary-note
	{
		border:              solid 1px #868735;
		background-color:    #FFFFC0;
		
		width:               100%;
		
		padding:             3px;
	}
	
	input.input-string,
	input.input-string2,
	input.input-ABN,
	input.input-ACN,
	input.input-ABN-incomplete,
	input.input-ACN-incomplete
	{
		border:              solid 1px #919191;
		
		padding:             3px;
		
		width:				180px;
	}
	
	input.input-string2
	{
		width:			85px;
	}
	input.input-string-valid
	{
		border:              solid 1px #89b100;
		background-color:    #f1f7e1;
		padding:             3px;
		width:				180px;
	}
	
	input.input-label
	{
		border:              solid 1px #868735;
		background-color:    #FFFFC0;
		padding:             3px;

	}
	
	input.input-submit,
	input.input-submit-disabled
	{
		background-repeat:   repeat-x;
		
		font-weight:         bold;
		
		padding-top:         3px;
		padding-left:        6px;
		padding-right:       6px;
		padding-bottom:      3px;
	}
	
	input.input-submit
	{
		background-image:    url('../img/template/button_background.png');
		
		border:              solid 1px #07548e;
		
		color:               #FFFFFF;
		background-color:    #07548e;
	}
	
	input.input-submit-disabled
	{
		background-image:    url('../img/template/button_background_disabled.png');
		
		border:              solid 1px #434343;
		
		color:               #FFFFFF;
		background-color:    #434343;
	}
	
	input.input-submit-locked,
	input.input-submit-unlocked
	{
		background-repeat:   no-repeat;
		
		font-weight:         bold;
		
		padding-top:         15px;
		padding-left:        60px;
		padding-right:       6px;
		padding-bottom:      15px;
	}
	
	input.input-submit-unlocked
	{
		background-image:    url('../img/template/btn_unlocked.png');
		
		border:              solid 1px #89b100;
		
		color:               #89b100;
		background-color:    #f1f7e1;
	}
	
	input.input-submit-locked
	{
		background-image:    url('../img/template/btn_locked.png');
		
		border:              solid 1px #CC0000;
		
		color:               #CC0000;
		background-color:    #f2dbdb;
	}
	
	input.input-ABN-valid,
	input.input-ACN-valid
	{
		border:              solid 1px #89b100;
		background-color:    #f1f7e1;
		padding:             3px;
		width:				180px;
		
	}
	
	input.input-invalid,
	input.input-ABN-invalid,
	input.input-ACN-invalid
	{
		border:              solid 1px #CC0000;
		background-color:    #f2dbdb;
		padding:             3px;
		width:				180px;
	}
	
	
	input.input-drop
	{
		border:              solid 1px #919191;
		vertical-align:		 bottom;
		padding:             3px;
	}
	
	div#Notices
	{
		border-left:         solid 1px #999999;
		
		padding-top:         0;
		padding-left:        20px;
		padding-right:       0;
		padding-bottom:      0;
		
		width:               350px;
	}
	
	.MenuIcon
	{
		border:              solid 1px #999999;
	}
	
	.Pablo-Section
	{
		background-image:    url('../img/template/donkey_icon.png');
		background-repeat:   no-repeat;
		background-position: top right;
		
		min-width:           700px;
	}
	
	.Pablo-Section-Container
	{
		background-image:    url('../img/template/talk_balloon.png');
		background-repeat:   no-repeat;
		background-position: top right;
		margin-right:        180px;
	}
	
	.Pablo-Section-Content
	{
		min-height:          200px;
		margin-right:        19px;
		background-color:    #ebd6b8;
		
		padding-top:         15px;
		padding-left:        20px;
		padding-right:       20px;
		padding-bottom:      5px;
	}
	
	.Pablo-Section-Content p
	{
		line-height:		200%;
		font-family:		monospace;
	}
	
	.monospace
	{
		font-family:		monospace;
	}
	
	label
	{
		cursor:              pointer;
	}
	
	table.Listing
	{
		border:              solid 1px #C1C1C1;
	}
	
	table.Listing tr.First th
	{
		border-bottom:       solid 1px #C1C1C1;
		
		background-repeat:   repeat-x;
		background-image:    url('../img/template/table_first_bg.png');
		
		background-color:    #45a0f3;
		color:               #FFFFFF;
	}
	
	table.Listing .Icon
	{
		width:               20px;
	}
	
	table.Listing tr.First th a
	{
		color:               #FFFFFF;
		text-decoration:     none;
	}
	
	table.Listing tr.Odd th,
	table.Listing tr.Odd td
	{
		background-color:    #FFFFFF;
	}
	
	table.Listing tr.Even th,
	table.Listing tr.Even td
	{
		background-color:    #D5E0F8;
	}
	
	.Currency
	{
		text-align:          right;
		
		font-family:		"Courier New", monospace;
	}
	
	a.Label:Link,
	a.Label:Visited
	{
		color:               #45a0f3;
		border-bottom:       dashed 1px #45a0f3;
		text-decoration:     none;
		cursor:              help;
	}
	
	input.input-link,
	a:Link
	{
		color:               #3366cc;
	}
	
	a:Visited
	{
		color:               #45a0f3;
	}
	
	input.time
	{
		width:               50px;
	}
	
	.Somebody_doesn_t_know_about_spacing th
	{
		padding-right: 10px;
	}
	
	th.JustifiedWidth
	{
		width:               150px;
	}
	
	tr.Required th
	{
		background-color:    #ae4545;
		color:               #FFFFFF;
	}
	
	.Indent
	{
		margin-left:         25px;
	}
	
	.LargeSelection
	{
		width:               325px;
	}
	
	select
	{
		border:              solid 1px #919191;
		background-color:    #ffffff;
		padding:             3px;
	}
	
	select.select-valid
	{
		border:              solid 1px #89b100;
		background-color:    #f1f7e1;
		padding:             3px;
	}
	
	select.select-invalid	
	{
		border:              solid 1px #CC0000;
		background-color:    #f2dbdb;
		padding:             3px;
	}
	
	table.summary-table
	{
		border:              solid 1px #000000;
	}
	
	td.summary-blank
	{
		background-color:    #FFFFFF;
	}
	
	td.summary-single
	{
		background-color:    #45a0f3;
	}
	
	td.summary-overlap
	{
		background-color:    #CC0000;
	}
	
	td.cell-0
	{
		border-left:         solid 1px #000000;
	}
	
	.black-border-top
	{
		border-top:          solid 1px #000000;
	}
	
	.black-border
	{
		border:              solid 1px #000000;
	}
	
	div#Navigation
	{
		width:               50px;
	}
	
	ul#Navigation-Root
	{
		margin-left:         0;
		padding-left:        0;
	}
	
	ul#Navigation-Root > li
	{
		list-style-type:     none;
	}
	
	ul#Navigation-Root > li
	{
		margin-bottom:       20px;
	}
	
	.Green
	{
		color:               #008000;
	}

	.Red
	{
		color:               #CC0000;
	}

	.Blue
	{
		color:               #006599;
	}
	
	.Large
	{
		font-size:			35px;
		line-height:		150%;
	}
	
	.Note
	{
		padding:            5px;
	}
	
	.small
	{
		font-size:          smaller;
	}
	
	.Attention
	{
		color:               #CC0000;
		border-bottom:       dashed 1px #CC0000;
		font-weight:         bold;
	}
	
	a.Disabled
	{
		text-decoration:	line-through underline;
	}
	
	h2.CDR,
	h2.Plan,
	h2.Date,
	h2.Address,
	h2.Payment,
	h2.Adjustment,
	h2.PDF,
	h2.Provisioning,
	h2.Archive,
	h2.Accounts,
	h2.Account,
	h2.Options,
	h2.Notes,
	h2.Note,
	h2.Services,
	h2.Service,
	h2.Contacts,
	h2.Contact,
	h2.Invoice,
	h2.Admin,
	h2.Report,
	h2.CostCentre
	{
		background-repeat:		no-repeat;
		background-position:	bottom left;
		padding-left:			22px;
		margin-bottom:			5px;
		height:					21px;
	}
	
	h2.CDR
	{
		background-image:              url('../img/template/cdr_small.png');
	}
	
	h2.Plan
	{
		background-image:              url('../img/template/plan_small.png');
	}
	
	h2.Date
	{
		background-image:              url('../img/template/date_small.png');
	}
	
	h2.Payment
	{
		background-image:              url('../img/template/payment_small.png');
	}
	
	h2.Adjustment
	{
		background-image:              url('../img/template/charge_small.png');
	}
	h2.Address
	{
		background-image:              url('../img/template/address_small.png');
	}
	
	h2.Provisioning
	{
		background-image:              url('../img/template/provisioning_small.png');
	}
	
	h2.PDF
	{
		background-image:              url('../img/template/pdf_small.png');
	}
	
	h2.Archive
	{
		background-image:              url('../img/template/archive_small.png');
	}
	
	h2.Notes
	{
		background-image:              url('../img/template/note_small.png');
	}
	
	h2.Note
	{
		background-image:              url('../img/template/note_small.png');
	}
	
	h2.Services
	{
		background-image:              url('../img/template/service_small.png');
	}
	
	h2.Service
	{
		background-image:              url('../img/template/service_small.png');
	}
	
	h2.Contacts
	{
		background-image:              url('../img/template/contacts_small.png');
	}
	
	h2.Contact
	{
		background-image:              url('../img/template/contact_small.png');
	}
	
	h2.Accounts
	{
		background-image:              url('../img/template/accounts_small.png');
	}
	
	h2.Account
	{
		background-image:              url('../img/template/account_small.png');
	}
	
	h2.Options
	{
		background-image:              url('../img/template/options_small.png');
	}
	
	h2.Invoice
	{
		background-image:              url('../img/template/invoice_small.png');
	}
	
	h2.Admin
	{
		background-image:              url('../img/template/admin_console_small.png');
	}
	
	h2.Report
	{
		background-image:              url('../img/template/report_small.png');
	}
	
	h2.CostCentre
	{
		background-image:              url('../img/template/shoppingcart.png');
	}
	
	.Menu_Button
	{
		display:                       inline;
		margin-left:                   30px;
		line-height:                   20px;
		vertical-align:                bottom;
	}
	
	.Debug_Button
	{
		display:                       inline;
		margin-left:                   5px;
		line-height:                   20px;
		vertical-align:                bottom;
	}
	
	
	#modalContent-systemDebug,
	#modalContent-domDebug,
	#modalContent-recentCustomers,
	#modalContent-PabloSays,
	#modalContent-Popup
	{
		display:				none;
	}
	
	.modalContainer
	{
		width:					760px;
		padding:				5px;
		background-color:		#FFFFFF;
		border:					solid 1px #000000;
	}

	iframe.flexModalContent
	{
		position:				absolute;
		width:					100%;
		height:					100%;
		border:					0px;
		zIndex:					1001;
		top:					0px;
		left:					0px;
	}
	
	.modalContent
	{
		height:					340px;
		margin:					5px;
		padding:				5px;
		overflow-y:				auto;
	}
	
	.modalIcon, .modalLabel, .modalClose
	{
		padding:				5px;
		font-family:			Tahoma, Arial, Helvetica, sans-serif;
		font-size:				8pt;
	}
	
	.modalLabel
	{
		line-height:			200%;
	}
	
	.modalClose
	{
		margin-top:				14px;
		margin-right:			14px;
		margin-bottom:			14px;
		cursor:					pointer;
	}
	
	.modalClose img
	{
		vertical-align:			middle;
	}
	
	#modalContent-recentCustomers .modalContent tbody td
	{
		cursor:					pointer;
	}
	
	.LinkEdit
	{
		text-align: Right;
	}
	
	.LinkAdd
	{
		text-align: Right;
	}
	
	#QuickList
	{
		margin-top:				0;
		margin-left:			0;
		margin-right:			0;
		margin-bottom:			0;
		
		padding-left:			0;
		white-space:			nowrap;
	}
	
	#QuickList li
	{
		display:				inline;
		list-style-type:		none;
	}

	#QuickList a
	{
		padding:				3px 10px;
		text-decoration:		none;
	}
	
	#QuickList a:link, #QuickList a:visited
	{
		color:					#fff;
		background-color:		#036;
		text-decoration:		none;
	}

	#QuickList a:hover
	{
		color:					#fff;
		background-color:		#369;
		text-decoration:		none;
	}
	
	tr.RecentCustomers td
	{
		cursor:					pointer;
	}
