/**************************************************************************/
/* Flex CSS file														  */
/*																		  */
/* Contains these sections:												  */
/* 	GENERIC																  */							
/*	DIVS																  */																		
/*	IMAGES																  */
/*	DEFAULT I/O															  */
/*	POSITIONS															  */	
/*	COLOURS																  */
/*	SIZES																  */
/*	BLOCK LAYOUTS														  */
/*	TABLES																  */
/*	MENUS																  */
/*	TITLES																  */
/*	HEADER																  */
/*	BUTTONS															  	  */
/*	SEPARATORS															  */
/*	INPUTS																  */
/*	POPUPS																  */
/*	TOOLTIPS														   	  */
/*	DISPLAY FORMATS														  */
/*	TASKBAR														  		  */
/**************************************************************************/

/**************************************************************************/
/* GENERIC																  */
/**************************************************************************/
input, select
{
	font-family:		"Nimbus Sans NL", Tahoma, sans-serif;
	margin-bottom:		1px;
	border:				solid 1px #000000;
}

img
{
	border:               0;
}

img[onclick]
{
	cursor:	pointer;
}

a:link, a:visited
{
	color: #0000FF;
	text-decoration:	none;		
}

a:hover
{
	color:				#0000FF;
	text-decoration:	underline;
}

a:active
{
	color: 				#0000FF;
	text-decoration:	none;		
}

a[onclick],
span[onclick]
{
	cursor : pointer;
	color: #0000FF;
}

span[onclick]:hover
{
	text-decoration: underline;
}


a#ContextMenuItemLink
{
	color:				#000000;
}

a#ContextMenuItemLink:hover
{
	text-decoration:	none;
}

h1
{
	color:                #006599;

	font-size:            18pt;

	margin-top:           0;

	margin-bottom:			20px;
	padding-bottom:			5px;

	border-bottom:			solid 1px #006599;
}

h2
{
	margin:              0;
	font-size:           12pt;
}

h3
{
	margin-top:          20px;
	margin-left:         0;
	margin-right:        0;
	margin-bottom:       0;
	font-size:           12pt;
}

li
{
	font-family:		"Nimbus Sans L", Arial, Tahoma, Sans-serif;
	line-height:		14pt;
	font-size:			10pt;		
}

body
{
	margin:				0px;
	line-height:		1.2;
}

body.EmbeddedComponent
{
	background-color:	#EFEBE7;
}

form
{
	margin:               0;
}

label
{
	line-height:		1.2;
	cursor:				pointer;
}

/* 
 * This contains the same styling as the DefaultOutputSpan class
 */
td,
span
{
	font-family: 		"Nimbus Sans L", Arial, Tahoma, Sans-serif;
	line-height: 		18pt;
	font-size: 			10pt;
	left:				0px;
	top:				0px;
	overflow:			hidden;
	line-height: 		1.2;
}

input[type='submit']:hover,
input[type='button']:hover
{
	cursor:	pointer;
}

span[onclick]:hover
{
	cursor			: pointer;
	text-decoration	: underline;
}

/**************************************************************************/
/* DIVS														  			  */
/**************************************************************************/
div#PageBody
{
	width:			90%;
	clear:			both;
	margin-left:	auto;
	margin-right:	auto;
	top:			10em;
	position:		relative;
}

div#PopupPageBody
{
	/*
	 * There is a function within the Page class, which can be used to override the styling applied to the page (Page->SetStyleOverride(...))
	 * so long as it is included in the LayoutTemplate.  Currently it is only applied within the popup_layout.php LayoutTemplate and 
	 * overrides this style class.
	 * You would use this function within the Page Template.  
	 */

	/*background-color:	#F3F3F3;*/
	background-color:	#EFEBE7;
	
	padding:			3px;
}

div#ImportReport
{
	font-family: 		"Nimbus Sans L", Arial, Tahoma, Sans-serif;
	line-height: 		18pt;
	font-size: 			10pt;
	position:			relative;
	left:				0px;
	top:				0px;
	overflow:			hidden;
	line-height: 		1.0;
}

div.paginated-table-wrapper
{

}

div.paginated-table-navigation
{
	/*background-color:	cyan;*/
	font-size:			12px;
	text-align:			right;
	margin:				-2px 0px -1px 0px;
}

div.paginated-table-navigation span
{
	margin: 			0px 4px;
	cursor:				pointer;
	text-align:			center;
	text-decoration:	none;
}

div.paginated-table-navigation span.paginated-table-navigation-control-current
{
	font-weight:		bold;
	color:				blue;
	cursor:				default;
	text-decoration:	none;
}

div.MsgNotice
{
	margin:				5px 0px 5px 0px;
	padding:			5px;
	border:				solid 1px #D1D1D1;
	background-color:	#FFFFCC;
	position:			relative;
}

div.warning
{
	text-align:			left;
	margin:				5px 2px 5px 2px;
	padding:			5px;
	border:				solid 1px #D1D1D1;
	background-color:	#FFC;
	color:				#C00;
	position:			relative;
}

span.warning
{
	color:				#C00;
}



/**************************************************************************/
/* IMAGES														  		  */
/**************************************************************************/	
.Logo
{
	/*
	position:	absolute;
	left:		1px;
	top:		1px;
	 */
z-index:	1000000;
float:		left;
padding:	1px;
width:		99px;
height:		44px;
}

.LogoSpacer
{
	float:		left;
	height:		1px;
	width:		170px;
}

/**************************************************************************/
/* DEFAULT I/O															  */
/**************************************************************************/
.Default
{
}

.RequiredInput
{
	color:               #CC0000;
}

.TD_DefaultLabel
{
	font-family: 		"Nimbus Sans L", Arial, Tahoma, Sans-serif;
	line-height: 		18pt;
	font-size: 			10pt;
	position:			absolute;
	height:				20px;
}

.DefaultLabel,
.DefaultInvalidLabel
{
	font-family: 		"Nimbus Sans L", Arial, Tahoma, Sans-serif;
	line-height: 		18pt;
	font-size: 			10pt;
	position:			absolute;
	height:				20px;
	overflow:			hidden;
	float:				left;
	top:				0px;
	left:				0px;
}

.DefaultOutput
{
	font-family: 		"Nimbus Sans L", Arial, Tahoma, Sans-serif;
	line-height: 		18pt;
	font-size: 			10pt;
	position:			relative;
	top:				0px;
	padding-left:		200px;
	overflow:			hidden;
}

.DefaultRegularOutput
{
	font-family: 		"Nimbus Sans L", Arial, Tahoma, Sans-serif;
	line-height: 		18pt;
	font-size: 			10pt;
	position:			relative;
	top:				0px;
	overflow:			hidden;
}

.StatusMessage
{
	padding-left:		55px;
}

.DefaultInvalidOutput
{
	font-family: 		"Nimbus Sans L", Arial, Tahoma, Sans-serif;
	line-height: 		18pt;
	font-size: 			10pt;
	position:			relative;
	top:				0px;
	padding-left:		200px;
	overflow:			hidden;
	color:				#CC0000;
}

.DefaultInputRadioButtons,
.DefaultInputCheckBox,
.DefaultInputComboBox,
.DefaultInputText,
.DefaultInput
{
	font-family:		"Nimbus Sans L", Arial, Tahoma, Sans-serif;
	line-height:		18pt;
	font-size:			10pt;
	position:			relative;
	left:				200px;
	top:				0px;
	overflow:			hidden;	
}

.DefaultInputCheckBox2
{
	line-height: 		18pt;
	font-size:			10pt;
	position:			relative;
	left:				197px;
	top:				1px;
	overflow:			hidden;
}

.DefaultInputRadioButtons extends 

.DefaultInputComboBox
{
	border:				solid 1px #000000;
}

.DefaultInputText,
.DefaultInputTextArea
{
	border:				solid 1px #000000;
	padding-left:		3px;
	padding-right:		0px;
	position:			relative;
	left:				200px;
	top:				0px;
	overflow:			hidden;
}

.DefaultInputTextSmall
{

	font-family: 		"Nimbus Sans L", Arial, Tahoma, Sans-serif;
	line-height: 		18pt;
	font-size: 			10pt;
	position:			relative;
	left:				0px;
	top:				0px;
	overflow:			hidden;
	border:				solid 1px #000000;
}

.DefaultInputCheckBox
{
	left:				0px;
}

.DefaultInputRadioButtons
{
	left:				0px;
}

.DefaultInvalidInputRadioButtons,
.DefaultInvalidInputCheckBox,
.DefaultInvalidInputComboBox,
.DefaultInvalidInputText,
.DefaultInvalidInputTextArea,
.DefaultInvalidInput
{
	font-family: 		"Nimbus Sans L", Arial, Tahoma, Sans-serif;
	line-height: 		1.2;
	font-size: 			10pt;
	position:			relative;
	left:				200px;
	top:				0px;
	/*height:				20px;*/
	overflow:			hidden;
	background-color:	#FA8072;
}

.DefaultInvalidInputComboBox
{
	border:				solid 1px #000000;
}

.DefaultInvalidInputText,
.DefaultInvalidInputTextArea
{
	border:				solid 1px #000000;
	padding-left:		3px;
	padding-right:		0px;
}

.DefaultInputSpan,
.DefaultInvalidInputSpan,
.DefaultOutputSpan,
.DefaultInvalidOutputSpan
{
	font-family: 		"Nimbus Sans L", Arial, Tahoma, Sans-serif;
	line-height: 		18pt;
	font-size: 			10pt;
	position:			relative;
	left:				0px;
	top:				0px;
	overflow:			hidden;
	line-height: 		1.2;
}

.DefaultInvalidInputSpan
{
	background-color:	#FA8072;
}

.DefaultInvalidOutputSpan
{
	color:				#CC0000;
}

.DefaultHiddenElement,
.DefaultElement,
.DefaultInvalidElement
{
	position:			relative;
	overflow:			visible;
	height:				auto;
	clear:				both;
}

.DefaultHiddenElement
{
	display: none;
}

/**************************************************************************/
/* POSITIONS													  		  */
/**************************************************************************/
.Left
{
	float:                left;
}

.Right
{
	float:                right;
}

/**************************************************************************/
/* COLOURS														  		  */
/**************************************************************************/
.Red
{
	color:               #CC0000;
}

.Green
{
	color:               #008000;
}

.Blue
{
	color:               #006599;
}

.Black
{
	color:               #000000;
}

/**************************************************************************/
/* SIZES														  		  */
/**************************************************************************/
.small
{
	font-size:          smaller;
}

.Large
{
	font-size:			35px;
	line-height:		150%;
}

/**************************************************************************/
/* BLOCK LAYOUTS														  */
/**************************************************************************/
/*
 * This should be used instead of WideContent or NarrowContent
 */
.GroupedContent
{
	margin:				0px;
	padding:			5px;
	border:				solid 1px #D1D1D1;
	background-color:	#EFEBE7;
	position:			relative;
}

.WideContent
{
	margin:              0;
	padding-top:         5px;
	padding-left:        5px;
	padding-right:       5px;
	padding-bottom:      5px;

	border:              solid 1px #D1D1D1;
	/*background-color:    #F3F3F3;*/
	background-color:	#EFEBE7;
	/*width:				 875px;*/
}

.NarrowContent
{
	margin:              0;
	padding-top:         5px;
	padding-left:        5px;
	padding-right:       5px;
	padding-bottom:      5px;

	border:              solid 1px #D1D1D1;
	/*background-color:    #F3F3F3;*/
	background-color:	#EFEBE7;
	/*width:				 425px;*/
}

.ContentSeparator
{
	margin-top:			5px;
	margin-bottom:		5px;
	border-bottom:		solid 1px #D1D1D1;
	background-color:	#EFEBE7;
	width:				100%
}

.NarrowTable
{
	margin:              0;
	width:				 425px;
}

.NarrowColumn
{
	margin:              0;
	padding-top:         0px;
	padding-left:        0px;
	padding-right:       0px;
	padding-bottom:      0px;

	/*border:              solid 1px #D1D1D1;*/
	/*background-color:    #F3F3F3;*/
	width:				 300px;
}

/* This should not be used anymore as the width of the entire page is specified in PageBoy and then the columns are defined
within a table, using percentages as their widths
 */
.WideColumn
{
	margin:              0;
	padding-top:         0px;
	padding-left:        0px;
	padding-right:       0px;
	padding-bottom:      0px;

	width:				 875px;
}


.WideForm
{
	margin:              0;
	padding-top:         5px;
	padding-left:        5px;
	padding-right:       5px;
	padding-bottom:      5px;

	border:              solid 1px #D1D1D1;
	/*background-color:    #F3F3F3;*/
	background-color:    #EFEBE7;

}

.NarrowForm
{
	margin:              0;
	padding-top:         5px;
	padding-left:        5px;
	padding-right:       5px;
	padding-bottom:      5px;

	border:              solid 1px #D1D1D1;
	/*background-color:    #F3F3F3;*/
	background-color:    #EFEBE7;
}

/**************************************************************************/
/* TABLES																  */
/**************************************************************************/
.VixenTableDetail
{
	background-color:	#D4D4D4;

	position:			relative;
	overflow:			visible;
	height:				auto;
}

tr.LatePayments
{
	font-size:			 10pt;		
}

table.Listing
{
	border:              solid 1px #C1C1C1;
}

table.Listing tr.First th
{
	border-bottom:       solid 1px #C1C1C1;

	background-repeat:   repeat-x;
	background-image:    url('img/template/table_first_bg.png');

	background-color:    #45a0f3;
	color:               #FFFFFF;

	font-size:			 10pt;
}

table.Listing .Icon
{
	width:               20px;
}

table.Listing tr.First th a
{
	color:               #FFFFFF;
	text-decoration:     none;
}

table.Listing tr.Odd th,
table.Listing tr.Odd td
{
	background-color:    #FFFFFF;
	vertical-align:			top;
}

table.Listing tr.Even th,
table.Listing tr.Even td
{
	background-color:    #D5E0F8;
	vertical-align:			top;		
}

table.Listing tr.First th.VixenTableSortColumn div.VixenTableSortColumnWrapper 
{
	display: 				inline;
	background-repeat:   	no-repeat;
	background-position: 	100% 50%;
	padding-right: 			10px;
	background-image:		url('img/template/order_none.png');
	cursor:					pointer;
}

table.Listing tr.First th.VixenTableSortColumnAsc div.VixenTableSortColumnWrapper
{
	background-image:		url('img/template/order_asc.png');
}

table.Listing tr.First th.VixenTableSortColumnDesc div.VixenTableSortColumnWrapper
{
	background-image:		url('img/template/order_desc.png');
}

table.Listing tr.Archived td
{
	background-color:    #C0C0C0;
	vertical-align:			top;		
}

table.Listing tr.Selected th,
table.Listing tr.Selected td
{
	background-color:	#99FF33;
	vertical-align:		top;		
}

table.Listing tr.PrimarySelected th,
table.Listing tr.PrimarySelected td
{
	background-color:	#11FF33;
	vertical-align:		top;
}


table.Listing tr.Hover th,
table.Listing tr.Hover td
{
	background-color:    #FFFFAA;
	vertical-align:			top;		
}
/****************
tr.Summary
{
background-color:    #000000;	
}
	/******************/	
	table.Summary
	{
		background-color:    #C0C0C0;		
}

/**************************************************************************/
/* MENUS																  */
/**************************************************************************/
.ContextMenu
{
	float:				left;
	position: 			fixed;
	top:				75px;
	left:				1px;
}

.ContextMenuItem
{
	border:					solid 1px #999999;
	background-color:		#FFFFFF;
	background-repeat:		no-repeat;
	background-position:	top left;
	padding:				1px 1px 1px 1px;
}

/*
 * I don't think this is actually used
 */
.ContextMenuItemHighlight
{
	border:					solid 1px #999999;
	background-color:		#FFFFCC;
}

div#BreadCrumbMenu
{
	clear: both;
	padding:			.2em 0em .2em 1.5em;
	width: 100%;
	background-color: #fff;
	color: #000;
}

.MenuIcon
{
	border:					solid 1px #999999;
}


/*
 * Page Menu Items (menus that take up a whole page)
 * Currently only the System Menu uses these classes
 * 
 */

div#MenuItem
{
	height:	6em;
}

.MenuItemIcon
{
	border:			solid 1px #999999;
	float: 			left;
	height:			auto;
	width:			auto;
}

.MenuItemDetails
{
	float:			left;
	height:			60px;
	width:			auto;
}

.MenuItemName
{
	font-family:	"Nimbus Sans L",Arial,Tahoma,Sans-serif;
	font-weight:	bold;
	font-size: 		12pt;

	margin:			5px;
}

.MenuItemDescription
{
	font-size:		10pt;
	margin:			5px;
}


/**************************************************************************/
/* TITLES															  	  */
/**************************************************************************/

h2.CDR,
h2.Plan,
h2.Date,
h2.Address,
h2.Payment,
h2.Adjustment,
h2.PDF,
h2.Provisioning,
h2.ProvisioningHistory,
h2.Archive,
h2.Accounts,
h2.Account,
h2.Options,
h2.Notes,
h2.Note,
h2.Services,
h2.Service,
h2.Contacts,
h2.Contact,
h2.Invoice,
h2.Admin,
h2.Report,
h2.CostCentre,
h2.Employees,
h2.Employee,
h2.Email,
h2.Permissions,
h2.Article,
h2.CustomerGroup,
h2.ConstantGroup,
h2.Carrier,
h2.CustomerStatus
{
	background-repeat:		no-repeat;
	background-position:	center left;
	padding-left:			22px;
	margin-bottom:			5px;
	height:					21px;
}

h2.Carrier
{
	background-image:              url('img/template/carrier.png');
}

h2.CDR
{
	background-image:              url('img/template/cdr.png');
}

h2.Plan
{
	background-image:              url('img/template/plan.png');
}

h2.Date
{
	background-image:              url('img/template/date.png');
}

h2.Payment
{
	background-image:              url('img/template/payment.png');
}

h2.Email
{
	background-image:              url('img/template/email.png');
}

h2.Adjustment
{
	background-image:              url('img/template/charge_small.png');
}

h2.Address
{
	background-image:              url('img/template/address.png');
}

h2.Provisioning
{
	background-image:              url('img/template/provisioning.png');
}

h2.ProvisioningHistory
{
	background-image:              url('img/template/provisioning_history.png');
}

h2.Permissions
{
	background-image:              url('img/template/console_admin.png');
}

h2.PDF
{
	background-image:              url('img/template/pdf.png');
}

h2.Archive
{
	background-image:              url('img/template/archive.png');
}

h2.Notes
{
	background-image:              url('img/template/note.png');
}

h2.Note
{
	background-image:              url('img/template/note.png');
}

h2.Services
{
	background-image:              url('img/template/service.png');
}

h2.Service
{
	background-image:              url('img/template/service.png');
}

h2.Contacts
{
	background-image:              url('img/template/contacts.png');
}

h2.Employees
{
	background-image:              url('img/template/contacts.png');
}

h2.Employee
{
	background-image:              url('img/template/contact.png');
}

h2.Contact
{
	background-image:              url('img/template/contact_small.png');
}

h2.Accounts
{
	background-image:              url('img/template/accounts.png');
}

h2.Account
{
	background-image:              url('img/template/account.png');
}

h2.Options
{
	background-image:              url('img/template/options.png');
}

h2.Invoice
{
	background-image:              url('img/template/invoice.png');
}

h2.Admin
{
	background-image:              url('img/template/admin_console.png');
}

h2.Report
{
	background-image:              url('img/template/report.png');
}

h2.CostCentre
{
	background-image:              url('img/template/shoppingcart.png');
}

h2.Article,
h2.ConstantGroup
{
	background-image:				url('img/template/article.png');
}

h2.CustomerGroup	
{
	background-image:				url('img/template/article.png');
}

h2.CustomerStatus
{
	background-image:				url('img/template/customer_status.png');
}

/**************************************************************************/
/* HEADER															  	  */
/**************************************************************************/
.sectionContent
{
	margin:               auto;
}

.Clear
{
	clear:                both;
}

/**************************************************************************/
/* BUTTONS															  	  */
/**************************************************************************/	
.Menu_Button
{
	display:                       inline;
	margin-left:                   30px;
	line-height:                   20px;
	vertical-align:                bottom;
}

.Debug_Button
{
	display:                       inline;
	margin-left:                   5px;
	line-height:                   20px;
	vertical-align:                bottom;
}

/* This is used as a wrapper for the buttons if they are being floated
 * to the right or left
 */ 
.ButtonContainer
{
	height: 		25px;
	padding:	3px 0px 3px 0px;
}


/**************************************************************************/
/* SEPARATORS															  */
/**************************************************************************/

.Separator
{
	height:               20px;
}

.SmallSeparator
{
	height:               10px;
}

.TinySeparator
{
	height:               5px;
}

.MicroSeparator
{
	height:               0px;
}

.ColumnSpacer
{
	width:					30px;
}

/* And for the idiots who can't spell */
.Seperator
{
	height:               20px;
}

.SmallSeperator
{
	height:               10px;
}

.TinySeperator
{
	height:               5px;
}

.MicroSeperator
{
	height:               0px;
}


/**************************************************************************/
/* INPUTS																  */
/**************************************************************************/
/*input.InputSubmit,*/
input.InputSubmitDisabled
{
	background-repeat:	repeat-x;

	font-weight:		bold;

	/*margin:				3px;*/
	margin:				0px;
	padding-top:		1px;
	padding-left:		6px;
	padding-right:		6px;
	padding-bottom:		1px;

	font-size:			10pt;
}

input[type='button']
{
	background-image:	url('img/template/button_background.png');
	background-repeat:	repeat-x;
	background-color:	#07548e;

	color:				#FFFFFF;
	font-size:			1em;
	font-weight:		bold;

	margin:				0px;
	padding:			1px 6px;

	border:				solid 1px #07548e;
}

input.InputSubmitDisabled
{
	background-image:    url('img/template/button_background_disabled.png');

	border:              solid 1px #434343;

	color:               #FFFFFF;
	background-color:    #434343;
}

input.InputSubmitLocked,
input.InputSubmitUnlocked
{
	background-repeat:   no-repeat;

	font-weight:         bold;

	padding-top:         15px;
	padding-left:        60px;
	padding-right:       6px;
	padding-bottom:      15px;
	font-size:			10pt;
}

input.InputSubmitUnlocked
{
	background-image:    url('img/template/btn_unlocked.png');

	border:              solid 1px #89b100;

	color:               #89b100;
	background-color:    #f1f7e1;
	font-size:			10pt;
}

input.InputSubmitLocked
{
	background-image:    url('img/template/btn_locked.png');

	border:              solid 1px #CC0000;

	color:               #CC0000;
	background-color:    #f2dbdb;
	font-size:			10pt;
}

input.time
{
	width:               50px;
}

/**************************************************************************/
/* POPUPS																  */
/**************************************************************************/
.PopupBox
{
	position: absolute;
	border: 1px solid #000000;
	background-color: #ffffff;
	/*z-index: 1001;*/
}

.PopupBoxTopBar
{
	font-family: "Nimbus Sans L", Arial, Tahoma, Sans-serif;
	font-size: 10pt;
	line-height: 18pt;
	color: #FFFFFF;
	background-color: #000000;
	background-image:     url('img/template/background.png');
	background-repeat:    repeat-x;
	padding: 0px;
	margin: 0px;
	padding-left: 5px;
	cursor: default;

}
.PopupBoxClose
{
	float: right;
	text-align: right;
	height: 14px;
	padding: 3px;
	cursor: pointer;
}

.PopupMedium,
.PopupLarge
{
	margin:              0;
	padding-top:         0px;
	padding-left:        3px;
	padding-right:       3px;
	padding-bottom:      0px;

	/*border:              solid 1px #D1D1D1;*/
	/*background-color:    #F3F3F3;*/
}

.PopupMedium
{
	/*width:				 440px;*/
	width:		auto;
}


.PopupLarge
{
	/*width:				 690px;*/
	width:		auto;
}

#overlay {
	position: absolute;
	left: 0px;
	top: 0px;
	width:100%;
	height:100%;
	z-index: 1000;
	background-color:	#000000;
	opacity: .50;
}

/**************************************************************************/
/* TOOLTIPS																  */
/**************************************************************************/

.VixenTooltip
{
	border: 1px solid #000000;
	background-color: #ffffff;
	z-index: 25;
}

/**************************************************************************/
/* DISPLAY FORMATS														  */
/**************************************************************************/	
.Currency
{

	font-family:		"Courier New", monospace;
}

/**************************************************************************/
/* TASKBAR													   			  */
/**************************************************************************/
.VixenTaskbar
{
	float:			left;
	position: 		fixed;
	top:				44px;
	width:			100%;
	height:			28px;
	color:			#FFFFFF;
	background-color:	#000000;
	background-image:	url('img/template/taskbar.png');
	background-repeat:	repeat-x;
	padding:			0px;
	margin:			0px;
	padding-top:		2px;
	/*padding-left:		80px;*/
	display:			block;
}

.TaskbarItem
{
	border:				1px	solid	#EEEEEE;
	border-top-color:		#CCCCCC;
	border-left-color:		#CCCCCC;
	border-right-color:		#333333;
	border-bottom-color:	#333333;
	width:				150px;
	height:				20px;
	background-color:		#444444;
	color:				#CCCCCC;
	vertical-align:		middle;
	float:				left;
	overflow:				hidden;
	padding-left:			1px;
	cursor:				default;
}

.TaskbarItemSelected
{
	border:				1px	solid	#EEEEEE;
	border-top-color:		#333333;
	border-left-color:		#333333;
	border-right-color:		#CCCCCC;
	border-bottom-color:	#CCCCCC;
	width:				150px;
	height:				20px;
	background-color:		#BBBBBB;
	color:				#000000;
	font-weight:			bold;
	vertical-align:		middle;
	float:				left;
	overflow:				hidden;
	padding-left:			1px;
	cursor:				default;
}

.TaskbarSpacer
{
	width:				1px;
	height:				20px;
	float:				left;
}

.TaskbarIcon
{
	/*display:			inline;*/
	width:			16px;
	height:			16px;
	vertical-align:	text-top;
	/*border:			1px solid #000000;*/
}

/**************************************************************************/
/* PHONE ICONS
/**************************************************************************/
div.ServiceTypeIconBlank,
div.ServiceTypeIconLandLine,
div.ServiceTypeIconMobile,
div.ServiceTypeIconInbound,
div.ServiceTypeIconADSL
{
	background-repeat:		no-repeat;
	background-position:	center center;
	width:					20px;
	height:					20px;
}

div.ServiceTypeIconBlank
{
	background-image:    url('img/template/phonetypes/blank.png');
}

div.ServiceTypeIconLandLine
{
	background-image:    url('img/template/phonetypes/landline.png');
}

div.ServiceTypeIconMobile
{
	background-image:    url('img/template/phonetypes/mobile.png');
}

div.ServiceTypeIconInbound
{
	background-image:    url('img/template/phonetypes/inbound.png');
}

div.ServiceTypeIconADSL
{
	background-image:    url('img/template/phonetypes/adsl.png');
}

/*------------------*/


#weekScheduler_Container{
	width:576px;
	border: inset 1px buttonface;
}

div#weekScheduler_Hours,
div#weekScheduler_Meridians {
	width: 576px;
	height: 27px;
}

div#weekScheduler_Meridians div
{
	width:286px;
	float:left;
	background-color:buttonface;
	border: 1px outset buttonface;
	height:25px;
	text-align: center;
	font-size: 8pt;
	cursor: default;
}

div#weekScheduler_Hours div {
	width:22px;
	float:left;
	background-color:buttonface;
	border: 1px outset buttonface;
	height:25px;
	font-size: 8pt;
	cursor: default;
}

div#weekScheduler_Content
{
	height: 38px;
	width: 576px;
	overflow: hidden;
}

div#weekScheduler_Content div.weekScheduler_SelectableTime
{
	border: outset 1px #FFFFFF;
	background-color: #FFFFFF;
	width:22px;
	height: 36px;
	float:left;
}

/* Appointment Information */

div.Appointment
{
	border: solid 0px #FF6600;
	width:24px;
	height: 38px;
	background-color: #45a0f3;
}

div.Appointment div.Moving
{
	position: absolute;
	cursor: move;
	width: 5.5px;
	height: 38px;
	top: 0;
	left: 0;
	background-color: #006599;
}

div.Appointment div.Resize
{
	position: absolute;
	cursor: e-resize;
	width: 5.5px;
	height: 38px;
	right: 0;
	background-color: #006599;
}

/***************************************Date Time Picker***********************/
/* Date Time Calendar Styles */
.date-time td
{
	cursor: default;
	text-align: center !important;
	border-bottom: 1px dotted #c0c0c0;
}

.date-time .bar
{
	text-align: center;
	background: #F2F5FF;
	padding: 2px 0 2px;
}

.date-time .date-time-active:hover
{
	color: #fff;
	background: #4b699f;
}

.date-time td.date-time-active-today
{
	border: 1px solid #4b699f;
}

.date-time button
{
	border: none;
	padding: 0;
}

.date-time title
{
	font-weight: bold;
}

.date-time th
{
	background: #fff;
	color: #000;
	width: 18px;
	border-bottom: 1px solid #c0c0c0;
	text-align: center !important;
	margin-top: 2px;
}

.date-time option, .date-time select 
{
	font-size: 10px;
}

.date-time 
{
	border: 2px solid #4b699f;
	background: #F2F5FF;
	padding: 1px;
	width: 185px;
}

.date-time table {
	width: 160px;
	font-size: 10px;
	margin: 0 auto;
}

/***************************************Date Time Picker***********************/

/*
div#Excess
{
display: none;
}

	div#CapLimit
	{
	display: none;
}*/


/***************************************Flex Modal Window***********************/

body.flexModalWindow
{

}

table.flexModalWrapper
{
	margin: auto;
	vertical-align: middle;
	border-collapse: collapse;
	padding: 0px;
	width: 100%;
	height: 100%;
}

table.flexModalWrapper td.flexModalWrapper
{
	padding: 0px;
	margin: 0px;
	border: 0px;
	text-align: center;
	vertical-align: middle;
}	

table.flexModalContainer
{
	margin: auto;
	vertical-align: middle;
	border-collapse: collapse;
	padding: 0px;
	background-color: rgb(239, 235, 231);
	border: 1px solid #000;
}

table.flexModalContainer td.flexModalContainer
{
	padding: 0px;
	margin: 0px;
	border: 0px;
}

/*******************Property Input Stuff*****************/
div.PropertyInputControlContainer
{
	width:	100%;
}

.PropertyInputControlLabel,
.PropertyInputControlLabelRequired
{
	float:			left;
	width:			47%;
	padding-left:	2%;
	padding-right:	1%;
}
.PropertyInputControlLabelRequired
{
	background-image:		url('img/template/required_input.png');
	background-repeat:		no-repeat;
	background-position:	-2% 0%;

}

.PropertyInputControl
{
	float: right;
	width: 49%;
	margin-left: 1%;
}
div.PropertyInputControlClear
{
	float:	none;
	clear:	both;
}


/*** Customer Status classes */
.customer-status-l
{
	background-color: #000;
	color: #FFF;
}

.customer-status-j
{
	background-color: #333;
	color: #FFF;
}

.customer-status-i
{
	background-color: #666;
	color: #FFF;
}

.customer-status-h
{
	background-color: #999;
	color: #000;
}

.customer-status-g
{
	background-color: #CCC;
	color: #000;
}

.customer-status-f
{
	background-color: #C00;
	color: #FFF;
}

.customer-status-e
{
	background-color: #F00;
	color: #FFF;
}

.customer-status-d
{
	background-color: #C60;
	color: #FFF;
}

.customer-status-c
{
	background-color: #C90;
	color: #000;
}

.customer-status-b
{
	background-color: #009900;
	color: #FFF;
}

.customer-status-a
{
	background-color: #00CC00;
	color: #000;
}

.customer-status-aaa
{
	background-color: #00FF00;
	color: #000;
}

table.customer-status-history
{
	width: 100%;
}

table.customer-status-history tbody tr td
{
	border-top:		1px solid #000000;
	border-right:	1px solid #000000;
	border-bottom:	1px solid #000000;
}

table.customer-status-history tbody tr td:first-child
{
	border-left: 1px solid #000000;
}

table#CustomerStatusDetails
{
	border:	1px solid #000000;
	width:	100%;
}

table#CustomerStatusDetails tr td:first-child
{
	width:			20%;
	text-align:		center;
}



/* Table stuff*/
table.form-data
{
	width			: 99%;
	margin-left		: auto;
	margin-right	: auto;
}

table.form-data td,
table.form-data th
{
	padding	: 0em 0em;
}

table.form-data td.title
{
	vertical-align	: top;
	font-weight		: bold;
}
