/* This css file is only included in Framework 2 pages.
 *
 * All styling of new functionality (Framework 3 or 2) should have its
 * styling defined in style.css
 *
 * You should only add styling rules to this file if they are for a Framework 2 page 
 * (or popup that is only ever openned on a Framework 2 page), and adding the rules to
 * style.css has an adverse affect on existing Framework 3 functionality.
 * In these cases I would encourage you to fix the conflict with the Framework 3 functionality
 *
 * It is hoped that everything here will eventually be phased out, or moved into style.css
 */

/**************************************************************************/
/* Flex CSS file														  */
/*																		  */
/* Contains these sections:												  */
/* 	GENERIC																  */							
/*	DIVS																  */																		
/*	IMAGES																  */
/*	DEFAULT I/O															  */
/*	POSITIONS															  */	
/*	COLOURS																  */
/*	SIZES																  */
/*	BLOCK LAYOUTS														  */
/*	TABLES																  */
/*	MENUS																  */
/*	TITLES																  */
/*	HEADER																  */
/*	BUTTONS															  	  */
/*	SEPARATORS															  */
/*	INPUTS																  */
/*	POPUPS																  */
/*	TOOLTIPS														   	  */
/*	DISPLAY FORMATS														  */
/*	TASKBAR														  		  */
/**************************************************************************/

/**************************************************************************/
/* GENERIC																  */
/**************************************************************************/
input, select
{
	font-family:		Arial, sans-serif;
	margin-bottom:		1px;
	border:				solid 1px #000000;
}

img
{
	border:               0;
}

img[onclick]
{
	cursor:	pointer;
}

a:link, a:visited
{
	color: #0000FF;
	text-decoration:	none;		
}

a:hover
{
	color:				#0000FF;
	text-decoration:	underline;
}

a:active
{
	color: 				#0000FF;
	text-decoration:	none;		
}

a[onclick],
span[onclick]
{
	cursor : pointer;
	color: #0000FF;
}

span[onclick]:hover
{
	text-decoration: underline;
}


a#ContextMenuItemLink
{
	color:				#000000;
}

a#ContextMenuItemLink:hover
{
	text-decoration:	none;
}

h1
{
	color:                #006599;
	font-size:            18pt;
	margin-top:           0;
	margin-bottom:			20px;
	padding-bottom:			5px;
	border-bottom:			solid 1px #006599;
}

h2
{
	margin:              0;
	font-size:           12pt;
}

h3
{
	margin-top:          20px;
	margin-left:         0;
	margin-right:        0;
	margin-bottom:       0;
	font-size:           12pt;
}

li
{
	font-family:		Arial, sans-serif;
	line-height:		14pt;
/*	font-size:			10pt;		*/
}

body.EmbeddedComponent
{
	background-color:	#EFEBE7;
}

form
{
	margin:               0;
}

label
{
/*	line-height:		1.2;*/
	cursor:				pointer;
}

/* 
 * This contains the same styling as the DefaultOutputSpan class
 */
td,
span
{
	font-family: 		Arial, sans-serif;
/*	line-height: 		18pt;*/
	font-size: 			10pt;
/*	left:				0px;
	top:				0px;*/
	overflow:			hidden;
/*	line-height: 		1.2;*/
}

input[type='submit']:hover,
input[type='button']:hover,
a.button:hover,
button:hover
{
	cursor:				default !important;
	text-decoration: 	none !important;
}

span[onclick]:hover
{
	cursor			: pointer;
	text-decoration	: underline;
}

/**************************************************************************/
/* DIVS														  			  */
/**************************************************************************/
div#PageBody
{
	width:			90%;
	clear:			both;
	margin-left:	auto;
	margin-right:	auto;
	top:			10em;
	position:		relative;
}

div#ImportReport
{
	font-family: 		Arial, sans-serif;
	font-size: 			10pt;
	position:			relative;
	overflow:			hidden;
}

/*********************** Old Style javascript pagination **********************/
/* Old style pagination classes.  I think this is only used by the employee list page, and possibly the document template resources pages */
/* these classes are used by ui/javascript/table_sort.js*/
div.paginated-table-wrapper
{
}

div.paginated-table-navigation
{
	font-size:			12px;
	text-align:			right;
	margin:				-2px 0px -1px 0px;
}

div.paginated-table-navigation span
{
	margin: 			0px 4px;
	cursor:				pointer;
	text-align:			center;
	text-decoration:	none;
}

div.paginated-table-navigation span.paginated-table-navigation-control-current
{
	font-weight:		bold;
	color:				blue;
	cursor:				default;
	text-decoration:	none;
}
/**** END - Old Style javascript pagination - END ********/

/**************************************************************************/
/* DEFAULT I/O															  */
/**************************************************************************/
.Default
{
}

.RequiredInput
{
	color:               #CC0000;
}

.TD_DefaultLabel
{
	font-family: 		Arial, sans-serif;
/*	line-height: 		18pt;*/
	font-size: 			10pt;
	position:			absolute;
	height:				20px;
}

.DefaultLabel,
.DefaultInvalidLabel
{
	font-family: 		Arial, sans-serif;
	line-height: 		18pt; /* Things break down if this isn't here */
	font-size: 			10pt;
	position:			absolute;
	height:				20px;
	overflow:			hidden;
	float:				left;
	top:				0px; /* Things break down if this isn't here */
/*	left:				0px;*/
}

.DefaultOutput
{
	font-family: 		Arial, sans-serif;
	line-height: 		18pt;
	font-size: 			10pt;
	position:			relative;
	top:				0px;
	padding-left:		200px;
	overflow:			hidden;
}

.DefaultRegularOutput
{
	font-family: 		Arial, sans-serif;
	line-height: 		18pt;
	font-size: 			10pt;
	position:			relative;
	top:				0px;
	overflow:			hidden;
}

.StatusMessage
{
	padding-left:		55px;
}

.DefaultInvalidOutput
{
	font-family: 		Arial, sans-serif;
	line-height: 		18pt;
	font-size: 			10pt;
	position:			relative;
	top:				0px;
	padding-left:		200px;
	overflow:			hidden;
	color:				#CC0000;
}

.DefaultInputRadioButtons,
.DefaultInputCheckBox,
.DefaultInputComboBox,
.DefaultInputText,
.DefaultInput
{
	font-family:		Arial, sans-serif;
	line-height:		18pt;
	font-size:			10pt;
	position:			relative;
	left:				200px;
	top:				0px;
	overflow:			hidden;	
}

.DefaultInputCheckBox2
{
	line-height: 		18pt;
	font-size:			10pt;
	position:			relative;
	left:				197px;
	top:				1px;
	overflow:			hidden;
}

.DefaultInputRadioButtons extends 

.DefaultInputComboBox
{
	border:				solid 1px #000000;
}

.DefaultInputText,
.DefaultInputTextArea
{
	border:				solid 1px #000000;
	padding-left:		3px;
	padding-right:		0px;
	position:			relative;
	left:				200px;
	top:				0px;
	overflow:			hidden;
}

.DefaultInputTextSmall
{

	font-family: 		Arial, sans-serif;
	line-height: 		18pt;
	font-size: 			10pt;
	position:			relative;
	left:				0px;
	top:				0px;
	overflow:			hidden;
	border:				solid 1px #000000;
}

.DefaultInputCheckBox
{
	left:				0px;
}

.DefaultInputRadioButtons
{
	left:				0px;
}

.DefaultInvalidInputRadioButtons,
.DefaultInvalidInputCheckBox,
.DefaultInvalidInputComboBox,
.DefaultInvalidInputText,
.DefaultInvalidInputTextArea,
.DefaultInvalidInput
{
	font-family: 		Arial, sans-serif;
	line-height: 		1.2;
	font-size: 			10pt;
	position:			relative;
	left:				200px;
	top:				0px;
	/*height:				20px;*/
	overflow:			hidden;
	background-color:	#FA8072;
}

.DefaultInvalidInputComboBox
{
	border:				solid 1px #000000;
}

.DefaultInvalidInputText,
.DefaultInvalidInputTextArea
{
	border:				solid 1px #000000;
	padding-left:		3px;
	padding-right:		0px;
}

.DefaultInputSpan,
.DefaultInvalidInputSpan,
.DefaultOutputSpan,
.DefaultInvalidOutputSpan
{
	font-family: 		Arial, sans-serif;
	line-height: 		18pt;
	font-size: 			10pt;
	position:			relative;
	left:				0px;
	top:				0px;
	overflow:			hidden;
	line-height: 		1.2;
}

.DefaultInvalidInputSpan
{
	background-color:	#FA8072;
}

.DefaultInvalidOutputSpan
{
	color:				#CC0000;
}

.DefaultHiddenElement,
.DefaultElement,
.DefaultInvalidElement
{
	position:			relative;
	overflow:			visible;
	height:				auto;
	clear:				both;
}

.DefaultHiddenElement
{
	display: none;
}

/**************************************************************************/
/* POSITIONS													  		  */
/**************************************************************************/
.Left
{
	float:                left;
}

.Right
{
	float:                right;
}

/**************************************************************************/
/* COLOURS														  		  */
/**************************************************************************/
.Red
{
	color:               #CC0000;
}

.Green
{
	color:               #008000;
}

.Blue
{
	color:               #006599;
}

.Black
{
	color:               #000000;
}

/**************************************************************************/
/* SIZES														  		  */
/**************************************************************************/
.small
{
	font-size:          smaller;
}

.Large
{
	font-size:			35px;
	line-height:		150%;
}

/**************************************************************************/
/* BLOCK LAYOUTS														  */
/**************************************************************************/
/*
 * This should be used instead of WideContent or NarrowContent
 */
.GroupedContent
{
	margin:				0px;
	padding:			5px;
	border:				solid 1px #D1D1D1;
	background-color:	#eceef2;
	position:			relative;
}

.ContentSeparator
{
	margin-top:			5px;
	margin-bottom:		5px;
	border-bottom:		solid 1px #D1D1D1;
	background-color:	#EFEBE7;
	width:				100%
}

/**************************************************************************/
/* TABLES																  */
/**************************************************************************/
.VixenTableDetail
{
	background-color:	#D4D4D4;

	position:			relative;
	overflow:			visible;
	height:				auto;
}

table.Listing
{
	border:              solid 1px #C1C1C1;
}

table.Listing tr.First th
{
	border-bottom:       solid 1px #C1C1C1;
	background-repeat:   repeat-x;
	background-image:    url('img/template/background.png');
	color:               #FFFFFF;
	font-size:			 10pt;
}

table.Listing .Icon
{
	width:               20px;
}

table.Listing tr.First th a
{
	color:               #FFFFFF;
	text-decoration:     none;
}

table.Listing tr.Odd th,
table.Listing tr.Odd td
{
	background-color:    #FFFFFF;
	vertical-align:			top;
}

table.Listing tr.Even th,
table.Listing tr.Even td
{
	background-color:    #ddd;
	vertical-align:			top;		
}

table.Listing tr.First th.VixenTableSortColumn div.VixenTableSortColumnWrapper 
{
	display: 				inline;
	background-repeat:   	no-repeat;
	background-position: 	100% 50%;
	padding-right: 			10px;
	background-image:		url('img/template/order_none.png');
	cursor:					pointer;
}

table.Listing tr.First th.VixenTableSortColumnAsc div.VixenTableSortColumnWrapper
{
	background-image:		url('img/template/order_asc.png');
}

table.Listing tr.First th.VixenTableSortColumnDesc div.VixenTableSortColumnWrapper
{
	background-image:		url('img/template/order_desc.png');
}

table.Listing tr.Archived td
{
	background-color:    #C0C0C0;
	vertical-align:			top;		
}

table.Listing tr.Selected th,
table.Listing tr.Selected td
{
	background-color:	#99FF33;
	vertical-align:		top;		
}

table.Listing tr.PrimarySelected th,
table.Listing tr.PrimarySelected td
{
	background-color:	#bcd;
	vertical-align:		top;
}


table.Listing tr.Hover th,
table.Listing tr.Hover td
{
	background-color:    #FFFFAA;
	vertical-align:			top;		
}
table.Summary
{
	background-color:    #C0C0C0;		
}

/**************************************************************************/
/* TITLES															  	  */
/**************************************************************************/

h2.CDR,
h2.Plan,
h2.Date,
h2.Address,
h2.Payment,
h2.Adjustment,
h2.PDF,
h2.Provisioning,
h2.ProvisioningHistory,
h2.Archive,
h2.Accounts,
h2.Account,
h2.Options,
h2.Notes,
h2.Note,
h2.Services,
h2.Service,
h2.Contacts,
h2.Contact,
h2.Invoice,
h2.Admin,
h2.Report,
h2.CostCentre,
h2.Employees,
h2.Employee,
h2.Email,
h2.Permissions,
h2.Article,
h2.CustomerGroup,
h2.ConstantGroup,
h2.Carrier,
h2.CustomerStatus,
h2.Tickets,
h2.Actions
{
	background-repeat:		no-repeat;
	background-position:	center left;
	padding-left:			22px;
	margin-bottom:			5px;
	height:					21px;
}

h2.Carrier
{
	background-image:              url('img/template/carrier.png');
}

h2.CDR
{
	background-image:              url('img/template/cdr.png');
}

h2.Plan
{
	background-image:              url('img/template/plan.png');
}

h2.Date
{
	background-image:              url('img/template/date.png');
}

h2.Payment
{
	background-image:              url('img/template/payment.png');
}

h2.Email
{
	background-image:              url('img/template/email.png');
}

h2.Adjustment
{
	background-image:              url('img/template/charge_small.png');
}

h2.Address
{
	background-image:              url('img/template/address.png');
}

h2.Provisioning
{
	background-image:              url('img/template/provisioning.png');
}

h2.ProvisioningHistory
{
	background-image:              url('img/template/provisioning_history.png');
}

h2.Permissions
{
	background-image:              url('img/template/console_admin.png');
}

h2.PDF
{
	background-image:              url('img/template/pdf.png');
}

h2.Archive
{
	background-image:              url('img/template/archive.png');
}

h2.Notes
{
	background-image:              url('img/template/note.png');
}

h2.Actions
{
	background-image:              url('img/template/action.png');
}

h2.Note
{
	background-image:              url('img/template/note.png');
}

h2.Services
{
	background-image:              url('img/template/service.png');
}

h2.Service
{
	background-image:              url('img/template/service.png');
}

h2.Contacts
{
	background-image:              url('img/template/contacts.png');
}

h2.Employees
{
	background-image:              url('img/template/contacts.png');
}

h2.Employee
{
	background-image:              url('img/template/contact.png');
}

h2.Contact
{
	background-image:              url('img/template/contact_small.png');
}

h2.Accounts
{
	background-image:              url('img/template/accounts.png');
}

h2.Account
{
	background-image:              url('img/template/account.png');
}

h2.Options
{
	background-image:              url('img/template/options.png');
}

h2.Invoice
{
	background-image:              url('img/template/invoice.png');
}

h2.Admin
{
	background-image:              url('img/template/admin_console.png');
}

h2.Report
{
	background-image:              url('img/template/report.png');
}

h2.CostCentre
{
	background-image:              url('img/template/shoppingcart.png');
}

h2.Article,
h2.ConstantGroup
{
	background-image:				url('img/template/article.png');
}

h2.CustomerGroup	
{
	background-image:				url('img/template/article.png');
}

h2.CustomerStatus
{
	background-image:				url('img/template/customer_status.png');
}

h2.Tickets
{
	background-image:				url('img/template/tickets.png');
}


/**************************************************************************/
/* TOOLTIPS																  */
/**************************************************************************/

.VixenTooltip
{
	border: 1px solid #000000;
	background-color: #ffffff;
	z-index: 25;
}

/**************************************************************************/
/* DISPLAY FORMATS														  */
/**************************************************************************/	
.Currency
{
	font-family:		"Courier New", monospace;
}

/**************************************************************************/
/* PHONE ICONS                                                            */
/**************************************************************************/
div.ServiceTypeIconBlank,
div.ServiceTypeIconLandLine,
div.ServiceTypeIconMobile,
div.ServiceTypeIconInbound,
div.ServiceTypeIconADSL
{
	background-repeat:		no-repeat;
	background-position:	center center;
	width:					20px;
	height:					20px;
}

div.ServiceTypeIconBlank
{
	background-image:    url('img/template/phonetypes/blank.png');
}

div.ServiceTypeIconLandLine
{
	background-image:    url('img/template/phonetypes/landline.png');
}

div.ServiceTypeIconMobile
{
	background-image:    url('img/template/phonetypes/mobile.png');
}

div.ServiceTypeIconInbound
{
	background-image:    url('img/template/phonetypes/inbound.png');
}

div.ServiceTypeIconADSL
{
	background-image:    url('img/template/phonetypes/adsl.png');
}

/********************* THIS IS USED FOR THAT STUPID TIME OF DAY SLIDER ON THE 'Add/Edit Rate' POPUP *****************/

#weekScheduler_Container{
	width:576px;
	border: inset 1px #c6c6c6;
}

div#weekScheduler_Hours,
div#weekScheduler_Meridians {
	width: 576px;
	height: 27px;
}

div#weekScheduler_Meridians div
{
	width:286px;
	float:left;
	background-color: #c6c6c6;
	border: 1px outset #c6c6c6;
	height:25px;
	text-align: center;
	font-size: 8pt;
	cursor: default;
}

div#weekScheduler_Hours div {
	width:22px;
	float:left;
	background-color:#c6c6c6;
	border: 1px outset #c6c6c6;
	height:25px;
	font-size: 8pt;
	cursor: default;
}

div#weekScheduler_Content
{
	height: 38px;
	width: 576px;
	overflow: hidden;
}

div#weekScheduler_Content div.weekScheduler_SelectableTime
{
	border: outset 1px #FFFFFF;
	background-color: #FFFFFF;
	width:22px;
	height: 36px;
	float:left;
}

div.Appointment
{
	border: solid 0px #FF6600;
	width:24px;
	height: 38px;
	background-color: #45a0f3;
}

div.Appointment div.Moving
{
	position: absolute;
	cursor: move;
	width: 5.5px;
	height: 38px;
	top: 0;
	left: 0;
	background-color: #006599;
}

div.Appointment div.Resize
{
	position: absolute;
	cursor: e-resize;
	width: 5.5px;
	height: 38px;
	right: 0;
	background-color: #006599;
}

/*********************** END - Stupid day slider - END ************************/

/***************************************Flex Modal Window***********************/

body.flexModalWindow
{

}

table.flexModalWrapper
{
	margin: auto;
	vertical-align: middle;
	border-collapse: collapse;
	padding: 0px;
	width: 100%;
	height: 100%;
}

table.flexModalWrapper td.flexModalWrapper
{
	padding: 0px;
	margin: 0px;
	border: 0px;
	text-align: center;
	vertical-align: middle;
}	

table.flexModalContainer
{
	margin: auto;
	vertical-align: middle;
	border-collapse: collapse;
	padding: 0px;
	background-color: rgb(239, 235, 231);
	border: 1px solid #000;
}

table.flexModalContainer td.flexModalContainer
{
	padding: 0px;
	margin: 0px;
	border: 0px;
}

/*** Customer Status classes */
.customer-status-l
{
	background-color: #000;
	color: #FFF;
}

.customer-status-j
{
	background-color: #333;
	color: #FFF;
}

.customer-status-i
{
	background-color: #666;
	color: #FFF;
}

.customer-status-h
{
	background-color: #999;
	color: #000;
}

.customer-status-g
{
	background-color: #CCC;
	color: #000;
}

.customer-status-f
{
	background-color: #C00;
	color: #FFF;
}

.customer-status-e
{
	background-color: #F00;
	color: #FFF;
}

.customer-status-d
{
	background-color: #C60;
	color: #FFF;
}

.customer-status-c
{
	background-color: #C90;
	color: #000;
}

.customer-status-b
{
	background-color: #009900;
	color: #FFF;
}

.customer-status-a
{
	background-color: #00CC00;
	color: #000;
}

.customer-status-aaa
{
	background-color: #00FF00;
	color: #000;
}

table.customer-status-history
{
	width: 100%;
}

table.customer-status-history tbody tr td
{
	border-top:		1px solid #000000;
	border-right:	1px solid #000000;
	border-bottom:	1px solid #000000;
}

table.customer-status-history tbody tr td:first-child
{
	border-left: 1px solid #000000;
}

table#CustomerStatusDetails
{
	border:	1px solid #000000;
	width:	100%;
}

table#CustomerStatusDetails tr td:first-child
{
	width:			20%;
	text-align:		center;
}

