
#weekScheduler_Container{
	width:				768px;
	border:				inset 1px #c6c6c6;
}

div#weekScheduler_Hours,
div#weekScheduler_Meridians {
	width:				768px;
	height:				27px;
}

div#weekScheduler_Meridians div
{
	width:				382px;
	float:				left;
	background-color:	#c6c6c6;
	border:				1px outset #c6c6c6;
	height:				25px;
	text-align:			center;
	font-size:			8pt;
	cursor:				default;
}

div#weekScheduler_Hours div {
	width:				30px;
	float:				left;
	background-color:	#c6c6c6;
	border:				1px outset #c6c6c6;
	height:				25px;
	font-size:			8pt;
	cursor:				default;
}

div#weekScheduler_Content
{
	height:				27px;
	width:				768px;
	overflow:			hidden;
}

div#weekScheduler_Content div.weekScheduler_SelectableTime
{
	border:				outset 1px #fff;
	background-color:	#fff;
	width:				30px;
	height:				25px;
	float:				left;
}

table.bevelledHeading {
	border:				inset 1px #c6c6c6;
}

table.bevelledHeading th 
{
	width:				30px;
	background-color:	#c6c6c6;
	border:				1px outset #c6c6c6;
	height:				25px;
	font-size:          8pt;
	text-align:         center;
	cursor:             default;
	font-weight:        normal;
}

table.bevelledHeading td 
{
	width:              30px;
	border:             1px outset #c6c6c6;
	height:             25px;
	font-size:          8pt;
	text-align:         center;
	cursor:             default;
}

/* Appointment Information */

div.Appointment
{
	border:             solid 0px #FF6600;
	width:              32px;
	height:             27px;
	background-color:   #45a0f3;
}

div.Appointment div.Moving
{
	position:           absolute;
	cursor:             move;
	width:              8px;
	height:             27px;
	top:                0;
	left:               0;
	background-color:   #006599;
}

div.Appointment div.Resize
{
	position:           absolute;
	cursor:             e-resize;
	width:              8px;
	height:             27px;
	right:              0;
	background-color:   #006599;
}

div#Excess
{
	display:            none;
}

div#CapLimit
{
	display:            none;
}
