/******************************************************************************/
	



	
	.Navigation
	{
		position: 	fixed;
		top:		70px;
		left:		1px;
	}
	

	

	
	div#Controller
	{
		margin:               10px;
	}
	
	div#Content
	{
		padding:              10px;
		
		width:					950px;
	}
	
	.Nbsp
	{
			padding-left:        5px;
	}
	

	
	.FormPopup
	{
		margin:              0;
		padding-top:         5px;
		padding-left:        5px;
		padding-right:       0px;
		padding-bottom:      5px;
		
		border:              solid 1px #D1D1D1;
		background-color:    #F3F3F3;
		width:				 716px;
	}
	
	.Form-Content
	{
		margin-right:        20px;
	}
	
	.Required
	{
		width:				10px;
		padding:			0px;
	}
	

	div.MsgNoticeNarrow,
	div.MsgNoticeWide,
	div.MsgNoticeModal
	{
		border:              solid 1px #868735;
		background-color:    #FFFFC0;
		
		background-image:    url('img/template/MsgNotice.png');
		background-repeat:   no-repeat;
		background-position: top left;
		
		padding-top:         5px;
		padding-left:        40px;
		padding-right:       5px;
		padding-bottom:      5px;
		
		line-height:         25px;
		
		margin-bottom:       10px;
	}
	
	div.MsgNoticeNarrow
	{
		width:					385px;
	}
	
	div.MsgNoticeWide
	{
		width:					835px;
	}
	
	div.MsgNoticeModal
	{
		width:					693px;
	}
	
	div.MsgErrorNarrow,
	div.MsgErrorWide,
	div.MsgErrorModal
	{
		border:              solid 1px #CC0000;
		background-color:    #f2dbdb;
		
		background-image:    url('img/template/MsgError.png');
		background-repeat:   no-repeat;
		background-position: top left;
		
		padding-top:         5px;
		padding-left:        40px;
		padding-right:       5px;
		padding-bottom:      5px;
		
		line-height:         25px;
		
		margin-bottom:       10px;
	}
	
	div.MsgErrorNarrow
	{
		width:					385px;
	}
	
	div.MsgErrorWide
	{
		width:					835px;
	}
	
	div.MsgErrorModal
	{
		width:					100%;
	}
	

	

	
		
	.thRight
	{
		text-align:				right;
	}
	
	

	
	textarea.input-summary
	{
		border:              solid 1px #919191;
		width:               100%;
		padding:             3px;
	}
	
	textarea.input-summary-note
	{
		border:              solid 1px #868735;
		background-color:    #FFFFC0;
		
		width:               100%;
		
		padding:             3px;
	}
	
	input.input-string,
	input.input-string2,
	input.input-ABN,
	input.input-ACN,
	input.input-ABN-incomplete,
	input.input-ACN-incomplete
	{
		border:              solid 1px #919191;
		
		padding:             3px;
		
		width:				180px;
	}
	
	input.input-string2
	{
		width:			85px;
	}
	input.input-string-valid
	{
		border:              solid 1px #89b100;
		background-color:    #f1f7e1;
		padding:             3px;
		width:				180px;
	}
	
	input.input-label
	{
		border:              solid 1px #868735;
		background-color:    #FFFFC0;
		padding:             3px;

	}
	
	
	input.input-ABN-valid,
	input.input-ACN-valid
	{
		border:              solid 1px #89b100;
		background-color:    #f1f7e1;
		padding:             3px;
		width:				180px;
		
	}
	
	input.input-invalid,
	input.input-ABN-invalid,
	input.input-ACN-invalid
	{
		border:              solid 1px #CC0000;
		background-color:    #f2dbdb;
		padding:             3px;
		width:				180px;
	}
	
	
	input.input-drop
	{
		border:              solid 1px #919191;
		vertical-align:		 bottom;
		padding:             3px;
	}
	
	div#Notices
	{
		border-left:         solid 1px #999999;
		
		padding-top:         0;
		padding-left:        20px;
		padding-right:       0;
		padding-bottom:      0;
		
		width:               350px;
	}
	

	
	.monospace
	{
		font-family:		monospace;
	}
	

	

	

	
	a.Label:Link,
	a.Label:Visited
	{
		color:               #45a0f3;
		border-bottom:       dashed 1px #45a0f3;
		text-decoration:     none;
		cursor:              help;
		font-size:			 10pt;
	}
	
	input.input-link,
	a:Link
	{
		color:               #3366cc;
	}
	
	a:Visited
	{
		color:               #45a0f3;
	}
	

	
	.Somebody_doesn_t_know_about_spacing th
	{
		padding-right: 10px;
	}
	
	th.JustifiedWidth
	{
		width:               150px;
	}
	
	tr.Required th
	{
		background-color:    #ae4545;
		color:               #FFFFFF;
	}
	
	.Indent
	{
		margin-left:         25px;
	}
	
	.LargeSelection
	{
		width:               325px;
	}
	
	.SmallSelection
	{
		width:               180px;
	}
	
	/*select
	{
		border:              solid 1px #919191;
		background-color:    #ffffff;
		padding:             3px;
	}
	
	select.select-valid
	{
		border:              solid 1px #89b100;
		background-color:    #f1f7e1;
		padding:             3px;
	}
	
	select.select-invalid	
	{
		border:              solid 1px #CC0000;
		background-color:    #f2dbdb;
		padding:             3px;
	}*/
	
	table.summary-table
	{
		border:              solid 1px #000000;
	}
	
	td.summary-blank
	{
		background-color:    #FFFFFF;
	}
	
	td.summary-single
	{
		background-color:    #45a0f3;
	}
	
	td.summary-overlap
	{
		background-color:    #CC0000;
	}
	
	td.cell-0
	{
		border-left:         solid 1px #000000;
	}
	
	.black-border-top
	{
		border-top:          solid 1px #000000;
	}
	
	.black-border
	{
		border:              solid 1px #000000;
	}
	
	div#Navigation
	{
		width:               50px;
	}
	
	ul#Navigation-Root
	{
		margin-left:         0;
		padding-left:        0;
	}
	
	ul#Navigation-Root > li
	{
		list-style-type:     none;
	}
	
	ul#Navigation-Root > li
	{
		margin-bottom:       20px;
	}
	

	

	
	.Note
	{
		padding:            5px;
	}
	

	
	.Attention
	{
		color:               #CC0000;
		border-bottom:       dashed 1px #CC0000;
		font-weight:         bold;
	}
	
	


	
	#modalContent-systemDebug,
	#modalContent-domDebug,
	#modalContent-recentCustomers,
	#modalContent-PabloSays,
	#modalContent-Popup
	{
		display:				none;
	}
	
	.modalContainer
	{
		width:					760px;
		padding:				5px;
		background-color:		#FFFFFF;
		border:					solid 1px #000000;
	}
	
	.modalContent
	{
		height:					340px;
		margin:					5px;
		padding:				5px;
		overflow-y:				auto;
	}
	
	.modalIcon, .modalLabel, .modalClose
	{
		padding:				5px;
		font-family:			Tahoma, Arial, Helvetica, sans-serif;
		font-size:				8pt;
	}
	
	.modalLabel
	{
		line-height:			200%;
	}
	
	.modalClose
	{
		margin-top:				14px;
		margin-right:			14px;
		margin-bottom:			14px;
		cursor:					pointer;
	}
	
	.modalClose img
	{
		vertical-align:			middle;
	}
	
	#modalContent-recentCustomers .modalContent tbody td
	{
		cursor:					pointer;
	}
	
	.LinkEdit
	{
		text-align: Right;
	}
	
	.LinkAdd
	{
		text-align: Right;
	}
	
	#QuickList
	{
		margin-top:				0;
		margin-left:			0;
		margin-right:			0;
		margin-bottom:			0;
		
		padding-left:			0;
		white-space:			nowrap;
	}
	
	#QuickList li
	{
		display:				inline;
		list-style-type:		none;
	}

	#QuickList a
	{
		padding:				3px 10px;
		text-decoration:		none;
	}
	
	#QuickList a:link, #QuickList a:visited
	{
		color:					#fff;
		background-color:		#036;
		text-decoration:		none;
	}

	#QuickList a:hover
	{
		color:					#fff;
		background-color:		#369;
		text-decoration:		none;
	}
	
	tr.RecentCustomers td
	{
		cursor:					pointer;
	}

	.MasterWatermark
	{
		position:				fixed;
		opacity:				.25;
		width:				768px;
		height:				256px;
		background-image:		url('img/template/master_watermark.png');
		background-position:	center center;
		background-repeat:		no-repeat;
		margin-left:			auto;
		margin-right:			auto;
		text-align:			left;
	}
